mixin rating(props)

  -
    if (typeof(props) === 'undefined') {
      var props = {};
    }

    var allMods = '';
    if (typeof(props.mods) !== 'undefined' && props.mods) {
      var modsList = props.mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' rating--' + modsList[i].trim();
      }
    }

  .rating(class=allMods)&attributes(attributes)
    .rating__title!= props.title
    .rating__total
      svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 10 10', widht='10', height='10')
        path(d='M4.51983.306275c.19091-.408367.76943-.408367.96034 0L6.60082 2.70338c.07516.16077.2252.27334.40006.30016l2.54823.3909c.42679.06546.60109.5881.29955.89836L7.97173 6.2242c-.11757.12098-.17096.29082-.14385.45765l.43844 2.69863c.07129.43876-.39261.76692-.78013.55183L5.25662 8.6949c-.15969-.08863-.35355-.08863-.51324 0L2.51381 9.93231c-.38752.21509-.85142-.11307-.78013-.55183l.43844-2.69863c.0271-.16683-.02628-.33667-.14385-.45765L.151339 4.2928c-.301505-.31026-.1272377-.8329.299548-.89836l2.548233-.3909c.17486-.02682.32489-.13939.40005-.30016L4.51983.306275z')
      span!= props.total