.rating {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  font-size: ms(-1);
  line-height: 1.45em;
  font-weight: 500;
  padding: 0.25rem 0.5rem;
  border-radius: 6px;

  &__title {
    margin-right: 0.5rem;
  }

  &__total {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    color: #e77c27;

    svg {
      fill: currentColor;
      display: block;
      margin-right: 0.25rem;
    }

    span {
      display: block;
    }
  }

  &--meal {
    background-color: rgba(#265299, 0.1);
    color: darken(#265299, 15%);
  }

  &--place {
    background-color: rgba(#6d2699, 0.1);
    color: darken(#6d2699, 15%);
  }

  &--service {
    background-color: rgba(#26996d, 0.1);
    color: darken(#26996d, 25%);
  }
}