.layout {
  padding: 4rem 1rem 2.25rem;

  @media (min-width: $screen-sm) {
    padding: 7.5rem 1.5rem 4.5rem;
  }

  &__container {
    @include container;

    @media (min-width: $screen-sm) {
      display: grid;
      gap: 2.25rem 4rem;
      grid-template: 'main side' / 9fr 3fr;
    }
  }

  &__main {

    @media (min-width: $screen-sm) {
      grid-area: main;
      width: 100%;
      overflow: hidden;
    }
  }

  &__side {
    padding: 2.25rem 0;

    @media (min-width: $screen-sm) {
      grid-area: side;
      padding: 0 0 2.25rem;
    }
  }

  &__side-block {
    margin-bottom: 2.25rem;
  }
}
