mixin modal

  .modal(id='modal', style='display: none; width: 500px;')
    h2.modal__title
      | Оставьте заявку
      br
      | и мы вам перезвоним!
    +form()
      +field-text({
        title: 'title',
        mods: '',
        val: '',
        attrs: {
          name: 'comment',
        }
      })
      +field-text({
        title: 'title',
        mods: '',
        val: '',
        attrs: {
          name: 'comment',
        }
      })
      +field-actions()
        +btn('Отправить заявку')