.subscription {

  &__container {
    @include container;
    position: relative;
    z-index: 1;
    overflow: hidden;
    color: $text-c--light;
    background-color: $primary-c;
  }

  &__info {
    position: relative;
    z-index: 2;
    padding: 1rem;

    @media (min-width: $screen-sm) {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: ms(0);
    font-weight: 600;
    line-height: 1.3em;
    letter-spacing: -0.01em;

    @media (min-width: $screen-sm) {
      margin: 0;
    }
  }

  &__form {
    width: 100%;

    @media (min-width: $screen-sm) {
      flex: 0 0 auto;
      width: 15rem;
      max-width: 100%;
      margin-left: 2.25rem;
    }
  }

  &__label {
    position: relative;
    display: block;
  }

  &__input {
    width: 100%;
    height: 40px;
    padding: 10px 60px 10px 20px;
    font-family: inherit;
    font-size: 14px;
    line-height: 1.45;
    color: currentColor;
    background-color: $bg-c;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 17 10'%3E%3Cpath stroke='%23363E49' stroke-linecap='round' stroke-linejoin='round' d='M12 1l4 4m0 0l-4 4m4-4H1'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 20px top 50%;
    background-size: 17px 10px;
    border: 1px solid $border-c;
    border-radius: $border-r--s;

    &::placeholder {
      opacity: 0.5;
    }
  }
}
