mixin main-nav()

  nav.main-nav
    ul.main-nav__list
      li.main-nav__item(aria-haspopup='true')
        a(href='/')
          +svg-icon('countries', 14, 16)
          span Страны
        ul.main-nav__list.main-nav__list--second-level
          li.main-nav__item
            a(href='/') Англия
          li.main-nav__item
            a(href='/') Уругвай
          li.main-nav__item
            a(href='/') Япония
          li.main-nav__item
            a(href='/') Уганда
          li.main-nav__item
            a(href='/') Новая Зеландия

      li.main-nav__item(aria-haspopup='true')
        a(href='/')
          +svg-icon('luggage', 16, 16)
          span Туры
        ul.main-nav__list.main-nav__list--second-level
          li.main-nav__item
            a(href='/') Кипр
          li.main-nav__item
            a(href='/') Греция
          li.main-nav__item
            a(href='/') Тунис
          li.main-nav__item
            a(href='/') Крым

      li.main-nav__item.main-nav__item--special-offers(aria-haspopup='true')
        a(href='/')
          +svg-icon('offers', 12, 16)
          span Акции
        ul.main-nav__list.main-nav__list--second-level
          li.main-nav__item
            a(href='/') Абхазия
          li.main-nav__item
            a(href='/') Болгария
          li.main-nav__item
            a(href='/') Австрия
          li.main-nav__item
            a(href='/') Андорра
          li.main-nav__item
            a(href='/') ОАЭ

      li.main-nav__item.main-nav__item--air
        a(href='/')
          +svg-icon('air', 16, 16)
          span Авиа

      li.main-nav__item.main-nav__item--tour-search
        a(href='/') Поиск тура

      li.main-nav__item(aria-haspopup='true')
        a(href='/') Агенствам
        ul.main-nav__list.main-nav__list--second-level
          li.main-nav__item
            a(href='/') Сотрудничество
          li.main-nav__item
            a(href='/') Документы
          li.main-nav__item
            a(href='/') Личный кабинет
          li.main-nav__item
            a(href='/') Финансовое обеспечение
          li.main-nav__item
            a(href='/') Бонусная программа
          li.main-nav__item
            a(href='/') Правила бронирования
          li.main-nav__item
            a(href='/') Способы оплаты
          li.main-nav__item
            a(href='/') Семинары и вебинары

      li.main-nav__item(aria-haspopup='true')
        a(href='/') Туристам
        ul.main-nav__list.main-nav__list--second-level
          li.main-nav__item
            a(href='/') Подбор тура (ссылка на страницу подбор тура)
          li.main-nav__item
            a(href='/') Оформление виз
          li.main-nav__item
            a(href='/') Горящие туры
          li.main-nav__item
            a(href='/') Способы оплаты
          li.main-nav__item
            a(href='/') Возврат денежных средств
          li.main-nav__item
            a(href='/') Кредит
          li.main-nav__item
            a(href='/') Дисконтные карты
          li.main-nav__item
            a(href='/') Подарочные сертификаты
          li.main-nav__item
            a(href='/') Страхование
          li.main-nav__item
            a(href='/') Политика конфиденциальности
          li.main-nav__item
            a(href='/') Договор

      li.main-nav__item(aria-haspopup='true')
        a(href='/') О компании
        ul.main-nav__list.main-nav__list--second-level
          li.main-nav__item
            a(href='/') О компании
          li.main-nav__item
            a(href='/') Новости
          li.main-nav__item
            a(href='/') Реквизиты
          li.main-nav__item
            a(href='/') Вакансии
          li.main-nav__item
            a(href='/') Документы

      li.main-nav__item
        a(href='/') Контакты