.main-nav {

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;

    &--second-level {
      position: absolute;
      left: -1rem;
      z-index: 100;
      display: none;
      min-width: 15rem;
      padding: 0.25rem 1rem;
      margin: 0;
      list-style: none;
      visibility: hidden;
      background: $bg-c;
      border-bottom-right-radius: $border-r;
      border-bottom-left-radius: $border-r;
      box-shadow: 0 13px 27px -5px rgba($text-c, 0.1), 0 8px 16px -8px rgba($text-c, 0.2);
      opacity: 0;
      transition: 125ms $transition-t;

      .main-nav__item {
        font-size: 14px;
        margin-right: 0;

        &:not(:last-child) {
          border-bottom: 1px solid $border-c;
        }

        a {
          padding: 0.5rem 0;
        }
      }
    }
  }

  &__item {
    position: relative;
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.45em;
    margin-right: 1.5rem;

    @media (min-width: $screen-xl) {
      font-size: 15px;
    }

    a {
      position: relative;
      display: flex;
      align-items: center;
      padding: 0.75rem 1rem 0.75rem 0;
      color: currentColor;
      text-decoration: none;

      &:hover {
        color: $primary-c;
        transition: 125ms $transition-t;
      }

      svg {
        display: none;;
        margin-right: 0.5rem;
        opacity: 1;
        fill: $primary-c;

        @media (min-width: $screen-lg) {
          display: block;
        }
      }

      span {
        display: block;
      }
    }

    &[aria-haspopup] {

      & > a {

        &::before,
        &::after {
          position: absolute;
          top: 50%;
          content: '';
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          transition: 250ms $transition-t;
          transform: translateY(-40%);
        }

        &::after {
          right: 0;
          width: 10px;
          height: 7px;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 10 7'%3E%3Cpath stroke='%2321323A' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M1 1.5l4 4 4-4'/%3E%3C/svg%3E");
          opacity: 1;
        }
      }

      &:hover {

        a {

          &::after {
            transform: translateY(-40%) rotate(180deg);
          }
        }
      }

      &:hover > ul,
      &:focus-within > ul,
      & ul:hover,
      & ul:focus {
        display: block;
        visibility: visible;
        opacity: 1;
      }
    }

    &:last-child {
      margin-right: -1rem;
    }

    &--tour-search {

      > a {
        color: $primary-c;
        padding: .75rem 1rem;
        background-color: #e2474b;
        color: #fff;
      }
    }

    &--special-offers {

      > a {

        svg {
          opacity: 1;
          fill: #e2474b;
        }
      }
    }

    &--air {
      margin-right: auto;
    }
  }
}
