.table {
  display: table;
  width: 100%;
  border: 1px solid $border-c;
  border-collapse: collapse;

  td,
  th {
    padding: 1rem 1.25rem;
    vertical-align: top;
    border-bottom: 1px solid $border-c;
    font-size: 0.8em;
    line-height: 1.5em;

    &:not(:first-child) {
      border-left: 1px solid $border-c;
    }
  }

  th {
    text-align: inherit;
    font-weight: 700;
  }

  td {
    font-weight: 400;
  }
}