mixin banner(props)

  -
    if (typeof(props) === 'undefined') {
      var props = {};
    }

    var allMods = '';
    if (typeof(props.mods) !== 'undefined' && props.mods) {
      var modsList = props.mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' banner--' + modsList[i].trim();
      }
    }

  a.banner(href='/', class=allMods)&attributes(attributes)
    .banner__info
      span.banner__subtitle Subtitle
      span.banner__title!= props.title
    .banner__media
      img(src=props.media, alt='')