.banner {
  position: relative;
  z-index: 1;
  display: block;
  overflow: hidden;
  color: $text-c--light;
  text-decoration: none;
  background-color: $bg-c--dark;
  min-height: 225px;

  &:not(:last-child) {
    margin-bottom: 0.75rem;
  }

  &__info {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    z-index: 2;
    width: calc(100% - 2rem);
  }

  &__subtitle {
    display: block;
    margin-bottom: 0.5rem;
    font-size: ms(-1);
    font-weight: 500;
    line-height: 1.45em;
  }

  &__title {
    display: block;
    padding: 0;
    margin: 0;
    font-size: ms(0);
    font-weight: 500;
    line-height: 1.3em;
  }

  &__media {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 2;
      content: '';
      background: $layer;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
