mixin tour-price(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' tour-price--' + modsList[i].trim();
      }
    }

  .tour-price(class=allMods)&attributes(attributes)
    .tour-price__title Стоимость