.tour-price {
  padding: 1rem;
  margin: 1.5rem 0;
  background-color: $bg-c--shade;
  border: 1px solid darken($bg-c--shade, 5%);
  border-radius: $border-r;

  @media (min-width: $screen-sm) {
    padding: 1.5rem;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0.75rem;
    font-size: ms(0);
    font-weight: 600;
    line-height: 1.3em;
  }
}