.tour {

  &__promo {
    position: relative;
    z-index: 1;
    overflow: hidden;
    color: $text-c--light;
    background-color: $bg-c--dark;
  }

  &__promo-slide-info {
    position: relative;
    z-index: 2;
    min-height: 225px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    box-sizing: border-box;
  }

  &__promo-slide-title {
    @include title;
    margin-bottom: 0.75rem;
  }

  &__promo-slide-desc {
    font-size: 0.8em;
    line-height: 1.45em;
  }

  &__promo-slide-media {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 2;
      content: '';
      background: $layer;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__block {
    padding: 0.75rem 1rem;
    margin: 1.5rem 0;
    background-color: $bg-c--shade;
    border: 1px solid darken($bg-c--shade, 5%);
    border-radius: $border-r;

    @media (min-width: $screen-sm) {
      padding: 1rem 1.5rem;
    }
  }

  &__block-title {
    margin-top: 0;
    margin-bottom: 0.75rem;
    font-size: ms(0);
    font-weight: 600;
    line-height: 1.3em;
  }

  &__block-info {
    font-size: ms(-1);
    line-height: 1.45em;
  }

  &__dates-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__dates-item {
    padding: 0.25rem 0.5rem;
    border: 1px solid rgba($primary-c, 0.25);
    background-color: rgba($primary-c, 0.125);
    color: $primary-c;
    margin: 0 0.25rem 0.25rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    cursor: pointer;
  }

  &__month {
    margin-right: 0.125rem;
  }

  &__days {
    display: none;

    &--is-open {
      display: block;
    }
  }

  &__additional-info {
    font-size: 0.8em;
    line-height: 1.45em;
  }
}
