.promo {
  position: relative;
  z-index: 1;

  &__slider {
    overflow: hidden;
    width: 100%;
  }

  &__slide {
    overflow: hidden;
    color: $text-c--light;
    background-color: $bg-c--dark;
  }

  &__slide-content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-end;
    min-height: 225px;
    padding: 2.25rem 1rem 1rem;
    box-sizing: border-box;
  }

  &__slide-title {
    max-width: 35ch;
    margin-top: 0;
    margin-bottom: 0.75rem;
    font-size: ms(1);
    font-weight: 600;
    line-height: 1.2em;
  }

  &__slide-media {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 2;
      content: '';
      background: $layer;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
