mixin article-card(props)

  -
    if (typeof(props) === 'undefined') {
      var props = {};
    }

    var allMods = '';
    if (typeof(props.mods) !== 'undefined' && props.mods) {
      var modsList = props.mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' article-card--' + modsList[i].trim();
      }
    }

  article.article-card(class=allMods)&attributes(attributes)
    a.article-card__media(href='/')
      .article-card__media-wrap
        img(src=props.media, alt='')
    .article-card__info
      +tag(props.tag.title, '/', props.tag.mod)
      ul.article-card__meta-list
        li.article-card__meta-item
          time.article-card__date(datetime='2021-04-04') 4 апреля
        li.article-card__meta-item
          span.article-card__read-time 7 мин.
      h2.article-card__title
        a(href='/')!= props.title
      .article-card__intro
        p!= props.intro