.article-card {

  &__media {
    display: block;
    position: relative;
    margin-bottom: 0.75rem;
    overflow: hidden;
    border-radius: 12px;

    &:hover {

      .article-card__media-wrap {
        transform: scale(1.05);
      }
    }

    &::after {
      display: block;
      content: '';
      padding-bottom: (9 / 16) * 100%;
    }
  }

  &__media-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transition: 500ms $transition-t;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    position: relative;
  }

  &__meta-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 0.5rem;
  }

  &__meta-item {
    margin: 0;
    padding: 0;
    font-size: 0.6em;
    line-height: 1.5em;
    opacity: 0.5;
    font-weight: 500;

    &:not(:last-child) {
      margin-right: 0.75rem;
    }
  }

  &__date {
    display: block;
  }

  &__reat-time {
    display: block;
  }

  &__title {
    font-size: ms(0);
    line-height: 1.3em;
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
    font-weight: 700;
    max-width: 35ch;

    a {
      text-decoration: none;
      color: currentColor;
    }
  }

  &__intro {
    font-size: 0.8em;
    line-height: 1.45em;
    opacity: 0.75;
    max-width: 70ch;
  }

  &--wide {

    @media (min-width: $screen-sm) {
      display: grid;
      gap: 2rem;
      grid-template: 'media info' / 4fr 8fr;

      .article-card__media {
        grid-area: media;
        align-self: start;
        margin-bottom: 0;
      }

      .article-card__info {
        grid-area: info;
        align-self: start;
      }

      .article-card__meta-list {
        flex-direction: column;
        align-items: flex-end;
      }

      .article-card__meta-item {

        &:not(:last-child) {
          margin-right: 0;
        }
      }

      .article-card__title {
        margin-top: 0.75rem;
        margin-bottom: 0.5rem;
      }
    }

    @media (min-width: $screen-md) {

      .article-card__title {
        font-size: ms(1);
      }
    }
  }
}