.news {

  &__container {
    @include container;

    &--intro {
      padding: 4rem 0 4.75rem;

      @media (min-width: $screen-sm) {
        padding: 7.5rem 0 3rem;
      }
    }

    &--main {
      padding: 6rem 0 2.25rem;

      @media (min-width: $screen-sm) {
        padding: 6rem 0 4.5rem;
      }
    }
  }

  &__intro {
    background-color: $bg-c--shade;
    padding: 0 1rem;

    @media (min-width: $screen-sm) {
      padding: 0 1.5rem;
    }
  }

  &__title {
    @include title;
    margin-top: 2.25rem;
    margin-bottom: 0;
  }

  &__filter {
    background-color: $bg-c;
    box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.1), 0px 15px 45px -5px rgba(38, 45, 64, 0.1);
    border-radius: 12px;
    font-size: ms(-1);
    line-height: 1.45em;
    padding: 1rem 1rem 0.75rem;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    z-index: 2;

    @media (min-width: $screen-sm) {
      padding: 1.5rem;
      display: flex;
    }

    @media (min-width: $screen-md) {
      padding: 1.5rem 2.25rem;
    }
  }

  &__filter-title {
    display: flex;
    align-items: center;
    margin-right: 2.25rem;
    font-weight: 600;

    @media (max-width: ($screen-sm - 1px)) {
      margin-bottom: 0.75rem;
    }

    svg {
      display: block;
      margin-right: 0.75rem;
      stroke: currentColor;
    }
  }

  &__filter-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  &__filter-item {
    margin: 0;
    padding: 0;
    font-weight: 500;

    a {
      display: block;
      text-decoration: none;
      color: currentColor;
      opacity: 0.5;
      transition: 250ms $transition-t;

      &:hover {
        color: $primary-c;
        opacity: 1;
      }
    }

    span {
      display: block;
    }

    @media (max-width: ($screen-sm - 1px)) {
      display: inline-flex;
      border: 1px solid $border-c;
      padding: 0.25rem 0.5rem;
      transition: 250ms $transition-t;
      font-weight: 500;
      background-color: $bg-c--shade;
      color: $text-c;
      border-radius: 6px;
      text-decoration: none;
      margin-right: 0.25rem;
      margin-bottom: 0.25rem;

      &--current {
        color: $primary-c;
        background-color: rgba($primary-c, 0.125);
        border: 1px solid rgba($primary-c, 0.25);
      }
    }

    @media (min-width: $screen-sm) {

      &:not(:last-child) {
        margin-right: 1.5rem;
      }
    }

    &--current {
      color: $primary-c;

      a {
        opacity: 1;
      }
    }
  }

  &__main {
    padding: 0 1rem;

    @media (min-width: $screen-sm) {
      padding: 0 1.5rem;
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 2.25rem;

    @media (min-width: $screen-sm) {
      margin-bottom: 3rem;
    }
  }

  &__item {
    margin: 0;
    padding: 0;

    &:not(:last-child) {
      margin-bottom: 2.25rem;
    }
  }
}