.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__pages {
    display: flex;
    align-items: center;
    height: 40px;
    font-size: ms(-1);
    line-height: 1.45em;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border: 1px solid rgba($text-c, 0.125);
    border-radius: 6px;
  }

  &__current-page {
    display: block;
  }

  &__total-pages {
    margin-left: 1.5rem;
    opacity: 0.25;
    display: block;
  }

  &__next-page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 40px;
    border: 1px solid $text-c;
    border-radius: 6px;
    color: $text-c;

    svg {
      display: block;
      stroke: currentColor;
    }
  }
}