mixin pagination()

  .pagination
    .pagination__pages
      span.pagination__current-page 1
      span.pagination__total-pages из 7
    .pagination__arrows
      a.pagination__next-page(href='/')
        svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 17 10', width='17', height='10')
          path(stroke-linecap='round', stroke-linejoin='round', stroke-width='1.5', d='M1 5h15m0 0l-4-4m4 4l-4 4')