mixin tour-card(props)

  -
    if (typeof(props) === 'undefined') {
      var props = {};
    }

    var allMods = '';
    if (typeof(props.mods) !== 'undefined' && props.mods) {
      var modsList = props.mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' tour-card--' + modsList[i].trim();
      }
    }

  a.tour-card(href='/', class=allMods)&attributes(attributes)
    .tour-card__info
      .tour-card__labels

        if (props.isOffer)
          +label('Акция', 'accent')

        +label('7 дней / 6 ночей')
      h3.tour-card__title!= props.title
      span.tour-card__dates!= props.dates
      .tour-card__price
        span!= props.price
        |  ₽ / чел.
    .tour-card__media
      .tour-card__media-wrap
        img(src=props.media, alt='')