.tour-card {
  position: relative;
  z-index: 1;
  display: block;
  overflow: hidden;
  color: $text-c--light;
  text-decoration: none;
  background-color: $bg-c--dark;
  border-radius: $border-r;

  &::before {
    display: block;
    width: 100%;
    // padding-bottom: (4 / 3) * 100%;
    padding-bottom: 300px;
    content: '';
  }

  &:hover {

    .tour-card__media {

      img {
        transform: scale(1.05);
      }
    }
  }

  &__info {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding: 0.5rem;

    @media (min-width: $screen-sm) {
      padding: 1rem;
    }
  }

  &__labels {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: auto;

    .label:not(.label--accent) {

      @media (max-width: ($screen-xs - 1px)) {
        display: none;
      }
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0.25rem;
    font-size: ms(-1);
    font-weight: 600;
    line-height: 1.45em;

    @media (min-width: $screen-lg) {
      font-size: ms(0);
      line-height: 1.3em;
    }
  }

  &__dates {
    display: block;
    margin-bottom: 0.75rem;
    font-size: ms(-2);
    font-weight: 500;
    line-height: 1.6em;

    @media (min-width: $screen-lg) {
      font-size: 0.6em;
    }
  }

  &__price {
    font-size: ms(-1);
    font-weight: 500;
    line-height: 1.45em;
    color: rgba($text-c--light, 0.75);

    span {
      color: $text-c--light;
    }

    @media (min-width: $screen-lg) {

      span {
        font-size: ms(1);
      }
    }
  }

  &__media {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 2;
      content: '';
      background: $layer;
    }
  }

  &__media-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      display: block;
      width: 100%;
      height: 100%;
      transition: 1s $transition-t;
      transform-origin: center;
      object-fit: cover;
    }
  }
}
