mixin exchange-rate(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' exchange-rate--' + modsList[i].trim();
      }
    }

  .exchange-rate(class=allMods)&attributes(attributes)
    .exchange-rate__item
      span Среда
      |  28.04
    .exchange-rate__item
      span USD
      |  77.34
    .exchange-rate__item
      span EUR
      |  93.18