.exchange-rate {
  font-size: 0.6em;
  font-weight: 400;
  line-height: 1.5em;

  @media (min-width: $screen-sm) {
    display: flex;
    grid-area: exchange-rate;
    flex-direction: row;
    margin-left: auto;
  }

  &__item {

    &:not(:last-child) {
      margin-right: 0.75rem;
    }

    span {
      font-weight: 600;
    }
  }
}