.author {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  &__avatar {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    object-fit: cover;
    margin-right: 0.75rem;
  }

  &__name {
    display: block;
    font-size: ms(-1);
    line-height: 1.45em;
    font-weight: 700;
  }

  &__about {
    display: block;
    font-size: 0.6em;
    line-height: 1.5em;
    font-weight: 400;
    opacity: 0.5;
  }
}