mixin author(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods.trim() + ' author--' + modsList[i].trim();
      }
    }

  .author(class=allMods)&attributes(attributes)
    img.author__avatar(src='https://images.unsplash.com/photo-1619667630839-c5f899af401b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80', alt='', width='60', height='60')
    .author__info
      span.author__name Name
      span.author__about Information