.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;

  a,
  span {
    display: inline-block;
    text-decoration: none;
    position: relative;
    color: currentColor;
    opacity: 0.75;

    &::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: currentColor;
      height: 1px;
      transform: scaleX(1);
      transition: transform 0.25s $transition-t;
      transform-origin: center left;
    }
  }

  a {

    &:hover,
    &:focus {
      text-decoration: none;
      color: currentColor;

      &::after {
        transform: scaleX(0);
        transform-origin: center right;
      }
    }
  }

  &__item {
    display: inline-block;
    margin: 0;
    margin-right: 0.5rem;
    padding: 0;
    white-space: nowrap;
    font-size: 0.6em;
    line-height: 1.45em;
    font-weight: 500;


    &:not(:last-child) {

      &::after {
        content: '/';
        display: inline-block;
        margin-left: 0.5rem;
        opacity: 0.5;
      }
    }
  }
}
