mixin tour-nav(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' tour-nav--' + modsList[i].trim();
      }
    }

  .tour-nav(class=allMods)&attributes(attributes)
    h3.tour-nav__title Информация
    ul.tour-nav__list
      li.tour-nav__item
        a.tour-nav__link(href='#tour-dates') Даты тура
      li.tour-nav__item
        a.tour-nav__link(href='#tour-routes') Маршрут
      li.tour-nav__item
        a.tour-nav__link(href='#tour-hotels') Гостиницы
      li.tour-nav__item
        a.tour-nav__link(href='#tour-transports') Транспорт
    +btn('Забронировать тур').tour-nav__order