.tour-nav {
  background-color: $bg-c--shade;
  padding: 1rem;
  border-radius: $border-r;

  &__title {
    font-size: ms(0);
    font-weight: 600;
    line-height: 1.3em;
    margin-top: 0;
    margin-bottom: 1.5rem;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 1.5rem;
    border-top: 1px solid $border-c;
  }

  &__item {
    margin: 0;
    padding: 0;
    font-size: ms(-1);
    line-height: 1.45em;
    font-weight: 500;
    border-bottom: 1px solid $border-c;
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    color: currentColor;
    padding: 0.75rem 0;
    transition: 125ms $transition-t;

    &:hover {
      color: $primary-c;
    }
  }

  &__order {
    width: 100%;
  }
}