.page-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  color: $text-c;
  background-color: $bg-c;

  &__top {
    position: relative;
    padding: 0.75rem 1rem;

    &::after {
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;
      height: 1px;
      content: '';
      background-color: currentColor;
      opacity: 0.125;
    }

    @media (min-width: $screen-sm) {
      padding: 0.75rem 1.5rem;
    }
  }

  &__container {
    @include container;

    &--top {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
    }
  }

  &__logo {
    margin-right: auto;
  }

  &__exchange-rate {

    @media (max-width: ($screen-lg - 1px)) {
      display: none;
    }
  }

  &__contacts {
    margin-left: 2.25rem;
    font-size: ms(-1);
    font-weight: 500;
    line-height: 1.45em;

    a {
      color: currentColor;
      text-decoration: none;
    }

    @media (max-width: ($screen-sm - 1px)) {
      display: none;
    }
  }

  &__socials {
    margin-left: 2.25rem;

    @media (max-width: ($screen-sm - 1px)) {
      display: none;
    }
  }

  &__form {
    max-width: 10rem;
    margin-left: 2.25rem;

    @media (max-width: ($screen-md - 1px)) {
      display: none;
    }
  }

  &__sign-in {
    margin-left: 0.75rem;

    @media (max-width: ($screen-sm - 1px)) {
      padding: 0.25rem 0.75rem;
    }

    @media (min-width: $screen-sm) {
      margin-left: 2.25rem;
    }

    @media (min-width: $screen-md) {
      margin-left: 0.75rem;
    }
  }

  &__burger {
    position: relative;
    z-index: 1001;
    margin-left: 1rem;

    @media (min-width: $screen-sm) {
      display: none;
    }
  }

  &__bottom {
    position: relative;
    padding: 0 1rem;

    &::after {
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;
      height: 1px;
      content: '';
      background-color: currentColor;
      opacity: 0.125;
    }

    @media (min-width: $screen-sm) {
      padding: 0 1.5rem;
    }

    @media (max-width: ($screen-md - 1px)) {
      position: fixed;
      top: 0.25rem;
      right: 0.5rem;
      z-index: 1000;
      width: 12.5rem;
      padding: 3rem 0.5rem 1rem 1rem;
      padding-top: 4.5rem;
      overflow-y: scroll;
      pointer-events: none;
      background-color: $bg-c;
      border-radius: $border-r;
      box-shadow: 0 13px 27px -5px rgba(43, 46, 58, 0.2), 0 8px 16px -8px rgba(0, 0, 0, 0.3);
      opacity: 0;
      transition: 0.25s ease-out;
      transform: scale(0.95);
      transform-origin: 100% 0;

      .main-nav__list {
        flex-direction: column;
        align-items: flex-end;
      }

      .main-nav__item {
        margin: 0;

        &:not(:last-child) {
          margin-bottom: 0.5rem;
        }
      }

      &--is-open {
        pointer-events: auto;
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}
