mixin page-header(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' page-header--' + modsList[i].trim();
      }
    }

  header.page-header(class=allMods)&attributes(attributes)
    .page-header__top
      .page-header__container.page-header__container--top
        +logo().page-header__logo
        +exchange-rate().page-header__exchange-rate
        .page-header__contacts
          a(href='tel:+78005517042') 8 (800) 551-70-42
        +socials().page-header__socials
          +social-item('instagram', 16, 16)
          +social-item('vk', 24, 14)
          +social-item('ok', 10, 16)
          +social-item('facebook', 16, 16)
        +form().page-header__form
          +field-search()
        +btn('Войти', '/').page-header__sign-in
        +burger().page-header__burger
    .page-header__bottom
      .page-header__container
        +main-nav()