.featured-news {

  &__title {
    @include title;
    margin-bottom: 1.5rem;
  }

  &__item {

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }

  &__item-date {
    display: block;
    margin-bottom: 0.25rem;
    font-size: 0.6em;
    font-weight: 500;
    line-height: 1.5em;
    opacity: 0.5;
  }

  &__item-title {
    max-width: 55ch;
    margin-top: 0;
    margin-bottom: 0.25rem;
    font-size: ms(0);
    font-weight: 600;
    line-height: 1.2em;
  }

  &__item-intro {
    max-width: 70ch;
    font-size: ms(-1);
    font-weight: 400;
    line-height: 1.45em;
    opacity: 0.75;
  }
}
