.slider-navigation {

  &__btn {
    display: inline-flex;
    position: relative;
    margin: 0;
    border: none;
    padding: 0;
    transition: border 250ms $transition-t;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    color: currentColor;
    vertical-align: middle;

    svg {

      path {
        fill: currentColor;
      }

      circle {
        transform: rotate(-90deg);
        transition: 500ms $transition-t;
        transform-origin: center center;
        stroke: $primary-c;
        opacity: 1;
        stroke-dasharray: 2 * 3.14 * 24.5;
        stroke-dashoffset: 2 * 3.14 * 24.5;
      }
    }

    &:hover {

      svg {

        circle {
          stroke-dashoffset: 0;
        }
      }
    }

    &--prev {
      margin-right: 5px;

      svg {
        transform: rotate3d(0, 0, 1, 180deg);
      }
    }
  }
}
