.accordion {

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    margin: 0;
    padding: 1rem 1.25em;
    background-color: $bg-c--shade;
    border-radius: 12px;

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }

  &__link {
    font-size: ms(0);
    line-height: 1.3em;
    font-weight: 700;
    max-width: 45ch;
  }

  &__content {
    margin-top: 0.75rem;
    font-size: 0.8em;
    line-height: 1.5em;
    max-width: 75ch;
  }
}