mixin direction-manager()

  .direction-manager
    .direction-manager__title Менеджер по направлению
    .direction-manager__photo
      img(src='https://images.unsplash.com/photo-1616794809986-09e7d44b8159?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80', alt='')
    .direction-manager__name Опарина Анна
    .direction-manager__experience Стаж — 50 лет
    +btn('Задай мне вопрос').direction-manager__action
    +btn('Купи у меня тур').direction-manager__action
    a.direction-manager__more(href='/') Посмотреть все туры менеджера