.direction-manager {
  border: 1px solid $border-c;
  padding: 1.5rem;

  &__title {
    font-size: ms(1);
    line-height: 1.2em;
    margin-bottom: 15px;
    font-weight: 700;
  }

  &__name {
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 700;
  }

  &__experience {
    font-size: 12px;
    line-height: 1.5em;
    margin-bottom: 10px;
  }

  &__action {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  &__more {
    font-size: 14px;
    line-height: 1.5em;
    color: $primary-c;
    text-decoration: underline;
    margin-top: 10px;
    display: inline-block;
  }
}