.tour-spec {
  padding: 1rem;
  margin: 1.5rem 0;
  background-color: $bg-c--shade;
  border: 1px solid darken($bg-c--shade, 5%);
  border-radius: $border-r;

  @media (min-width: $screen-sm) {
    display: grid;
    padding: 1.5rem;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }

  &__block {

    @media (max-width: ($screen-xs - 1px)) {

      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0.75rem;
    font-size: ms(0);
    font-weight: 600;
    line-height: 1.3em;
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      position: relative;
      padding-left: 1rem;
      margin-bottom: 0.25rem;
      font-size: ms(-1);
      line-height: 1.45em;

      &::before {
        position: absolute;
        top: 0.2rem;
        left: 0;
        width: 0.5rem;
        height: 0.5rem;
        content: '';
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }

      @media (min-width: $screen-xs) {
        padding-right: 1rem;
      }
    }

    &--include {

      li::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 10 9'%3E%3Cpath fill='%2316C98D' d='M8.94166.223304L3.02352 6.16563 1.431 4.30659c-.702182-.59527-1.805892.09801-1.30447.99039l1.89318 3.24558c.30066.39615 1.00381.79231 1.70503 0 .30066-.39616 6.019-7.42791 6.019-7.42791.70316-.792308-.1998-1.485579-.80208-.891346z'/%3E%3C/svg%3E");
      }
    }

    &--not {

      li::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 10 10'%3E%3Cpath fill='%23FA5E5B' d='M9.73799 8.47465c.34931.34934.34931.914 0 1.26334-.17422.17423-.40294.26179-.63167.26179-.22872 0-.45745-.08756-.63167-.26179L5 6.26335 1.52535 9.73799c-.17422.17423-.40295.26179-.631671.26179-.228725 0-.457449-.08756-.631673-.26179-.3493413-.34934-.3493413-.914 0-1.26334L3.73665 5 .262006 1.52535c-.3493413-.34934-.3493413-.914003 0-1.263344.349341-.3493413.914004-.3493413 1.263344 0L5 3.73665 8.47465.262006c.34934-.3493413.914-.3493413 1.26334 0 .34931.349341.34931.914004 0 1.263344L6.26335 5l3.47464 3.47465z'/%3E%3C/svg%3E");
      }
    }
  }
}
