mixin tour-spec(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' tour-spec--' + modsList[i].trim();
      }
    }

  .tour-spec(class=allMods)&attributes(attributes)
    .tour-spec__block
      h3.tour-spec__title В стоимость тура включено
      ul.tour-spec__list.tour-spec__list--include
        li Встреча/проводы в аэропорту в любое указанное туристами время прибытия/убытия рейса;
        li Размещение в гостиницах в двухместных номерах с завтраком;
        li Экскурсии согласно программе тура;
        li Гид-сопровождающий на протяжении всего тура;
        li Комфортабельный транспорт с кондиционером на весь маршрут;
        li Питание - согласно программе тура;
        li Демонстрация соколиной охоты;
        li Мастер-класс по изготовлению традиционных войлочных ковров;
        li Минеральная вода на каждый день тура;
        li Памятные сувениры.
    .tour-spec__block
      h3.tour-spec__title В стоимость тура не включено
      ul.tour-spec__list.tour-spec__list--not
        li Стоимость международных перелетов;
        li Входные билеты на основные памятники и музеи;
        li Медицинские издержки и страховка.
        li Стоимость питания в остальные дни тура, не указанные по программе.