.article {
  padding: 4.5rem 1rem 2.25rem;
  overflow: hidden;

  @media (min-width: $screen-sm) {
    padding: 7.5rem 1.5rem 4.5rem;
  }

  &__container {
    @include container;
  }

  &__block {
    position: relative;

    @media (min-width: $screen-sm) {
      display: grid;
      grid-template-columns: 3fr 7fr 2fr;
      grid-template-rows: auto;
    }

    &--header {

      @media (min-width: $screen-sm) {
        padding-top: 4.5rem;
        gap: 0 2rem;
      }
    }

    &--data {

      @media (min-width: $screen-sm) {
        gap: 2.25rem 2rem;
      }
    }

    &--text {

      @media (min-width: $screen-sm) {
        gap: 2.25rem 2rem;
        padding-top: 2.25rem;
      }
    }
  }

  &__go-back {
    margin-bottom: 2.25rem;

    @media (min-width: $screen-sm) {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__meta {
    font-size: 0.6em;
    line-height: 1.5em;
    font-weight: 500;
    display: block;
    opacity: 0.5;

    &--date {

      @media (min-width: $screen-sm) {
        grid-column: 1 / span 1;
      }
    }

    &--read-time {

      @media (min-width: $screen-sm) {
        grid-column: 2 / span 2;
      }
    }
  }

  &__title {
    font-weight: 700;
    font-size: ms(1);
    line-height: 1.2em;
    letter-spacing: -0.01em;
    margin-top: 0.75rem;
    margin-bottom: 1.5rem;

    @media (min-width: $screen-sm) {
      grid-column: 2 / span 1;
      grid-row: 2;
      font-size: ms(2);
      margin-bottom: 2.25rem;
    }
  }

  &__media {
    position: relative;
    margin-bottom: 1rem;
    z-index: 1;
    border-radius: 12px;
    overflow: hidden;

    &::after {
      display: block;
      content: '';
      padding-bottom: (9 / 16) * 100%;
    }

    @media (min-width: $screen-sm) {
      grid-column: 2 / span 2;
      margin-bottom: 0;
    }
  }

  &__media-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__author {

    @media (min-width: $screen-sm) {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  &__text-block {

    p {
      font-size: 0.8em;
      line-height: 1.45em;
      max-width: 70ch;
    }

    @media (min-width: $screen-sm) {
      grid-column: 2 / span 1;

      p {
        font-size: 0.9em;
        line-height: 1.5em;
      }
    }
  }

  &__text-block-title {
    font-size: ms(0);
    line-height: 1.3em;
    font-weight: 700;
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;
    max-width: 35ch;

    @media (min-width: $screen-sm) {
      margin-top: 0;
      font-size: ms(1);
      line-height: 1.2em;
      letter-spacing: -0.01em;
      margin-bottom: 1.5rem;
    }
  }

  &__blockquote {
    font-size: ms(1);
    line-height: 1.3em;
    font-weight: 400;
    position: relative;
    margin: 2.25rem 0;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 600px;
      height: 570px;
      opacity: 0.125;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 603 570'%3E%3Cpath stroke='%23265299' d='M602.5 293c0 151.578-129.365 274.5-289 274.5S24.5 444.578 24.5 293s129.365-274.5 289-274.5 289 122.922 289 274.5z'/%3E%3Cpath stroke='%23265299' d='M572.5 284.5c0 146.886-124.89 266-279 266s-279-119.114-279-266 124.89-266 279-266 279 119.114 279 266z'/%3E%3Cpath stroke='%23265299' d='M598.5 285c0 157.102-133.843 284.5-299 284.5S.5 442.102.5 285 134.343.5 299.5.5s299 127.398 299 284.5z'/%3E%3C/svg%3E");
      transform: translate3d(-40%,-40%,0);
    }

    blockquote {
      margin: 0;
      position: relative;
      max-width: 30ch;

      &::before {
        content: '“';
        margin-right: 0.075em;
      }

      &::after {
        content: '”';
        margin-left: 0.075em;
      }
    }

    @media (min-width: $screen-sm) {
      grid-column: 1 / span 3;
      margin: 1.5rem 0;

      blockquote {

        &::before {
          position: absolute;
          top: 0;
          right: 100%;
        }
      }
    }
  }
}