.socials {

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__item {
    padding: 0;
    margin: 0;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }

    &--instagram {

      svg {
        fill: #c13584;
      }
    }

    &--vk {

      svg {
        fill: #4680c2;
      }
    }

    &--ok {

      svg {
        fill: #f68634;
      }
    }

    &--facebook {

      svg {
        fill: #1877f2;
      }
    }
  }

  &__link {
    position: relative;
    display: block;

    &::after {
      position: absolute;
      top: -0.5em;
      right: -0.5em;
      bottom: -0.5em;
      left: -0.5em;
      content: '';
    }

    svg {
      display: block;
    }
  }
}
