mixin socials(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' socials--' + modsList[i].trim();
      }
    }

  mixin social-item(social, width, height)
    li.socials__item(class='socials__item--'+social)
      a.socials__link(href='/', rel='noopener')
        +svg-icon(social, width, height)

  .socials(class=allMods)&attributes(attributes)
    ul.socials__list
      block
