mixin tag(text, href, mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' tag--' + modsList[i].trim();
      }
    }


  if (typeof(href) !== 'undefined' && href)
    a.tag(href=href, class=allMods)&attributes(attributes)!= text

  else
    span.tag(class=allMods)&attributes(attributes)!= text
