.tag {
  display: inline-flex;
  border: 1px solid $border-c;
  padding: 0.25rem 0.5rem;
  transition: 250ms $transition-t;
  font-size: 0.6em;
  line-height: 1.5em;
  font-weight: 500;
  background-color: $bg-c--shade;
  color: $text-c;
  border-radius: 6px;
  text-decoration: none;

  &--tours {
    color: #ed7d2b;
    border-color: rgba(#ed7d2b, 0.25);
    background-color: rgba(#ed7d2b, 0.125);
  }

  &--about-us {
    color: #1db988;
    border-color: rgba(#1db988, 0.25);
    background-color: rgba(#1db988, 0.125);
  }
}
