include ../blocks/article-card/article-card.pug
include ../blocks/author/author.pug
include ../blocks/banner/banner.pug
include ../blocks/breadcrumbs/breadcrumbs.pug
include ../blocks/btn/btn.pug
include ../blocks/burger/burger.pug
include ../blocks/direction-manager/direction-manager.pug
include ../blocks/distance/distance.pug
include ../blocks/exchange-rate/exchange-rate.pug
include ../blocks/field-actions/field-actions.pug
include ../blocks/field-checkbox/field-checkbox.pug
include ../blocks/field-radio/field-radio.pug
include ../blocks/field-rating/field-rating.pug
include ../blocks/field-search/field-search.pug
include ../blocks/field-text/field-text.pug
include ../blocks/form/form.pug
include ../blocks/go-back/go-back.pug
include ../blocks/hotel-rating/hotel-rating.pug
include ../blocks/label/label.pug
include ../blocks/logo/logo.pug
include ../blocks/main-nav/main-nav.pug
include ../blocks/modal/modal.pug
include ../blocks/page-footer/page-footer.pug
include ../blocks/page-header/page-header.pug
include ../blocks/pagination/pagination.pug
include ../blocks/rating/rating.pug
include ../blocks/slider-navigation/slider-navigation.pug
include ../blocks/slider-progressbar/slider-progressbar.pug
include ../blocks/socials/socials.pug
include ../blocks/special-offer-card/special-offer-card.pug
include ../blocks/svg-icon/svg-icon.pug
include ../blocks/tag/tag.pug
include ../blocks/tour-card/tour-card.pug
include ../blocks/tour-dates/tour-dates.pug
include ../blocks/tour-features/tour-features.pug
include ../blocks/tour-nav/tour-nav.pug
include ../blocks/tour-price/tour-price.pug
include ../blocks/tour-route/tour-route.pug
include ../blocks/tour-spec/tour-spec.pug
include ../blocks/video/video.pug
