.go-back {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0.75rem;
  overflow: hidden;
  font-family: $font-f;
  font-size: ms(-1);
  font-weight: 500;
  line-height: 1.45em;
  color: $primary-c;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.01em;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-color: rgba($primary-c, 0.125);
  background-image: none;
  border: none;
  border-radius: $border-r--s;
  transition: all 250ms $transition-t;

  svg {
    display: block;
    margin-right: 0.5rem;
    stroke: currentColor;
  }
}