mixin go-back(href, mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods.trim() + ' btn--' + modsList[i].trim();
      }
    }

  a.go-back(href=href)&attributes(attributes)
    svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 17 10', width='17', height='10')
      path(stroke-linecap='round', stroke-linejoin='round', stroke-width='1.5', d='M16 5H1m0 0l4-4M1 5l4 4')
    | Вернуться