.tabs {

  &__nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    border-bottom: 1px solid #e3e4e4;
    flex-wrap: nowrap;
    flex-direction: row;
  }

  &__nav-item {
    font-size: ms(-1);
    line-height: 1.45em;
    font-weight: 500;

    &:not(:last-child) {
      margin-right: 2.25rem;
    }
  }

  &__nav-link {
    display: block;
    padding: 0.5rem 0;
    border: none;
    border-radius: 0;
    color: rgba($text-c, 0.5);
    position: relative;
    outline: none;
    text-decoration: none;

    &::after {
      position: absolute;
      content: '';
      top: 100%;
      left: 0;
      right: 0;
      height: 1px;
      background-color: #e3e4e4;
    }

    &--active {
      color: $primary-c;

      &::after {
        background-color: $primary-c;
      }
    }
  }

  &__content-wrap {
    padding-top: 1.5rem;
  }

  &__content {

    @at-root .js-tabs & {
      display: none;

      &--active {
        display: block;
      }
    }
  }
}