extends ../pug/layout.pug

block meta
  - var title = 'Article';
  title= title
  meta(name='description', content='')

block content
  .article
    .article__container

      .article__block.article__block--header
        +go-back('/').article__go-back
        time.article__meta.article__meta--date(datetime='2021-04-04') 4 апреля
        span.article__meta.article__meta--read-time 7 мин.
        h1.article__title Nescio brains an Undead zombies. Sicut malus putrid voodoo horror

      .article__block.article__block--data
        .article__media
          .article__media-wrap
            img(src='https://images.unsplash.com/photo-1619313188991-bccbc5f337f0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80', alt='')
        +author().article__author

      .article__block.article__block--text
        .article__text-block
          h2.article__text-block-title Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro.
          p De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium. Qui animated corpse, cricket bat max brucks terribilem incessu zomby. The voodoo sacerdos flesh eater, suscitat mortuos comedere carnem virus. Zonbi tattered for solum oculi eorum defunctis go lum cerebro. Nescio brains an Undead zombies. Sicut malus putrid voodoo horror. Nigh tofth eliv ingdead.
        .article__text-block
          h2.article__text-block-title Romero morbo Congress amarus in auras
          p Crazed sepulcris creaturis, zombie sicut de grave feeding iride et serpens. Pestilentia, shaun ofthe dead scythe animated corpses ipsa screams. Pestilentia est plague haec decaying ambulabat mortuos. Sicut zeder apathetic malus voodoo.
          p Aenean a dolor plan et terror soulless vulnerum contagium accedunt, mortui iam vivam unlife. Qui tardius moveri, brid eof reanimator sed in magna copia sint terribiles undeath legionis. Alii missing oculis aliorum sicut serpere crabs nostram. Putridi braindead odores kill and infect, aere implent left four dead.
        .article__blockquote
          blockquote Souless mortuum glassy-eyed oculos attonitos indifferent back zom bieapoc alypse
        .article__text-block
          h2.article__text-block-title The unleashed virus est, et iam zombie mortui ambulabunt super terram
          p Lucio fulci tremor est dark vivos magna. Expansis creepy arm yof darkness ulnis witchcraft missing carnem armis Kirkman Moore and Adlard caeruleum in locis. Romero morbo Congress amarus in auras.
          p Nihil horum sagittis tincidunt, zombie slack-jawed gelida survival portenta. The unleashed virus est, et iam zombie mortui ambulabunt super terram. Souless mortuum glassy-eyed oculos attonitos indifferent back zom bieapoc alypse. An hoc dead snow braaaiiiins sociopathic incipere Clairvius Narcisse, an ante? Is bello mundi z?

  article.read-also
    .read-also__container
      +slider-progressbar().read-also__slider-progressbar
      h2.read-also__title Статьи по теме
      //- +slider-navigation().read-also__slider-navigation
      .read-also__slider
        .swiper-wrapper
          .swiper-slide
            +article-card({
              media: 'https://images.unsplash.com/photo-1612016833932-0e1ab9d1226f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80',
              title: 'Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus',
              intro: 'Qui animated corpse, cricket bat max brucks terribilem incessu zomby. The voodoo sacerdos flesh eater, suscitat mortuos comedere carnem virus.',
              tag: {
                title: 'О туре',
                mod: 'tours'
              }
            })
          .swiper-slide
            +article-card({
              media: 'https://images.unsplash.com/photo-1491864568965-3663792944aa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1650&q=80',
              title: 'De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia',
              intro: 'Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium.',
              tag: {
                title: 'О нас',
                mod: 'about-us'
              }
            })
          .swiper-slide
            +article-card({
              media: 'https://images.unsplash.com/photo-1618972275909-e80e0793ec2d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=975&q=80',
              title: 'Alii missing oculis aliorum sicut serpere crabs nostram',
              intro: 'Sicut zeder apathetic malus voodoo. Aenean a dolor plan et terror soulless vulnerum contagium accedunt, mortui iam vivam unlife.',
              tag: {
                title: 'О нас',
                mod: 'about-us'
              }
            })
          .swiper-slide
            +article-card({
              media: 'https://images.unsplash.com/photo-1616431588645-00b20a6b5c95?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=916&q=80',
              title: 'Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus',
              intro: 'Qui animated corpse, cricket bat max brucks terribilem incessu zomby. The voodoo sacerdos flesh eater, suscitat mortuos comedere carnem virus.',
              tag: {
                title: 'О туре',
                mod: 'tours'
              }
            })
          .swiper-slide
            +article-card({
              media: 'https://images.unsplash.com/photo-1604079628040-94301bb21b91?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80',
              title: 'De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia',
              intro: 'Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium.',
              tag: {
                title: 'О нас',
                mod: 'about-us'
              }
            })