extends ../pug/layout.pug

block meta
  - var title = 'Components';
  title= title
  meta(name='description', content='')

block header

block content
  .components
    .components__container

      .components__block
        .components__block-title Accordion
        .accordion
          ul.accordion__list
            li.accordion__item
              a.accordion__link(data-houdini-toggle='yo-ho-ho') Yo, ho ho
              .accordion__content.is-expanded(id='yo-ho-ho', data-houdini-group='pirates')
                p Spanker sloop pink piracy Sink me. Boatswain overhaul mizzenmast ahoy bucko. Holystone mizzen Spanish Main yo-ho-ho long clothes.
            li.accordion__item
              a.accordion__link(data-houdini-toggle='jack-ketch') Jack Ketch
              .accordion__content(id='jack-ketch', data-houdini-group='pirates')
                p Rope&apos;s end lee Jack Ketch reef sails Pieces of Eight. Wench lugger quarter ye Buccaneer. No prey, no pay aye heave to fire in the hole keelhaul.
            li.accordion__item
              a.accordion__link(data-houdini-toggle='buccaneer') Buccaneer
              .accordion__content(id='buccaneer', data-houdini-group='pirates')
                p Me fire ship main sheet gabion Buccaneer. Skysail galleon topsail blow the man down landlubber or just lubber. Swing the lead boom capstan nipper sutler.

      .components__block
        .components__block-title Table
        table.table
          thead
            tr
              th Sex
              th Drugs
              th Techno
          tbody
            tr
              td Repeat
              td Repeat
              td Repeat
            tr
              td Repeat
              td Repeat
              td Repeat
            tr
              td Repeat
              td Repeat
              td Repeat

      .components__block
        .components__block-title Numbered list
        .numbered-list
          ol
            li Spanker sloop pink piracy Sink me. Boatswain overhaul mizzenmast ahoy bucko. Holystone mizzen Spanish Main yo-ho-ho long clothes.
            li Rope&apos;s end lee Jack Ketch reef sails Pieces of Eight. Wench lugger quarter ye Buccaneer. No prey, no pay aye heave to fire in the hole keelhaul.
            li Me fire ship main sheet gabion Buccaneer. Skysail galleon topsail blow the man down landlubber or just lubber. Swing the lead boom capstan nipper sutler.

      .components__block
        .components__block-title Modal
        +btn('Modal', '#modal')(data-fancybox='')

      .components__block
        .components__block-title Breadcrumbs
        +breadcrumbs()
          +breadcrumbs-item('Главная', '/')
          +breadcrumbs-item('Второстепенная', '/')
          +breadcrumbs-item('Перекресток')

block footer
  +modal