extends ../pug/layout.pug

block meta
  - var title = 'Hotel';
  title= title
  meta(name='description', content='')

block content
  .hotel
    .hotel__container
      .hotel__promo
        .hotel__intro
          .hotel__intro-content
            ul.hotel__data-list
              li.hotel__data-item
                +hotel-rating('Comfort', 'normal')
              li.hotel__data-item
                +distance('2 km to center')
              li.hotel__data-item
                +distance('31 km to airport')
            a.hotel__location(href='/')
              svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 14 16', width='14', height='16')
                path(d='M6.99995 0h.02748c3.85937.014733 6.98767 3.07358 6.97247 6.81785v.07437c-.0521 2.67579-1.7081 4.89628-3.0878 6.28748-.3927.3978-.8106.7794-1.24162 1.1358-.25816.214-.64576.1845-.86631-.0659-.22056-.2512-.18946-.6272.0687-.8412.39917-.3304.78749-.6854 1.15263-1.0552 1.2279-1.2375 2.7002-3.19421 2.7451-5.48273.0123-3.14373-2.5657-5.66587-5.74824-5.6785h-.02241c-3.17167 0-5.75833 2.49759-5.77062 5.57678.05423 1.521.58357 2.96693 1.5316 4.17995 1.1064 1.4312 2.78479 2.9466 4.38003 3.9554.28491.1796.36518.5487.17933.8251-.11714.1754-.31456.2708-.51559.2708-.11498 0-.23068-.0309-.33481-.0968-1.70805-1.0797-3.50576-2.7032-4.69098-4.2361C.679024 10.2591.0636359 8.5788 0 6.81014.0151858 3.02868 3.15287 0 6.99995 0z')
                path(d='M5.56326 6.89136c0 .76682.64359 1.39192 1.4347 1.39192.7911 0 1.4347-.6251 1.4347-1.39192 0-.76751-.6436-1.39261-1.4347-1.39261-.33915 0-.61467-.2666-.61467-.59564 0-.32973.27552-.59633.61467-.59633 1.46868 0 2.66402 1.15899 2.66402 2.58458 0 1.42489-1.19534 2.58389-2.66402 2.58389-1.46869 0-2.66403-1.159-2.66403-2.58389 0-.32973.27551-.59633.61466-.59633s.61467.2666.61467.59633z')
              span Benaulim, India
            h1.hotel__title Taj Exotica Resort and Spa, Goa
          .hotel__intro-media
            img(src='https://images.unsplash.com/photo-1601701119533-fde20cecbf4e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1951&q=80', alt='')
        .hotel__gallery
          .hotel__gallery-preview.hotel__gallery-preview--first
            a(href='https://images.unsplash.com/photo-1585548807335-e0bfa52ac220?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=934&q=80', data-fancybox='gallery')
              img(src='https://images.unsplash.com/photo-1585548807335-e0bfa52ac220?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=934&q=80', alt='')
          .hotel__gallery-preview.hotel__gallery-preview--second
            a(href='https://images.unsplash.com/photo-1563911302283-d2bc129e7570?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2775&q=80', data-fancybox='gallery')
              img(src='https://images.unsplash.com/photo-1563911302283-d2bc129e7570?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2775&q=80', alt='')
          a.hotel__gallery-preview.hotel__gallery-preview--more(href='https://images.unsplash.com/photo-1619312667133-471376244b9f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80', data-fancybox='gallery')
            span.hotel__gallery-more-photos + 5 фото
            img(src='https://images.unsplash.com/photo-1619312667133-471376244b9f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80', alt='')
          .hotel__gallery-covered
            a(href='https://images.unsplash.com/photo-1619313268156-1d040ab8f1fc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2091&q=80', data-fancybox='gallery')
              img(src='https://images.unsplash.com/photo-1619313268156-1d040ab8f1fc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2091&q=80', alt='')
            a(href='https://images.unsplash.com/photo-1562133567-b6a0a9c7e6eb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80', data-fancybox='gallery')
              img(src='https://images.unsplash.com/photo-1562133567-b6a0a9c7e6eb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80', alt='')
            a(href='https://images.unsplash.com/photo-1618972077039-ac5427f6c75f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1001&q=80', data-fancybox='gallery')
              img(src='https://images.unsplash.com/photo-1618972077039-ac5427f6c75f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1001&q=80', alt='')
            a(href='https://images.unsplash.com/photo-1565340076637-825894a74ca6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80', data-fancybox='gallery')
              img(src='https://images.unsplash.com/photo-1565340076637-825894a74ca6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80', alt='')
            a(href='https://images.unsplash.com/photo-1581974206967-93856b25aa13?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1936&q=80', data-fancybox='gallery')
              img(src='https://images.unsplash.com/photo-1581974206967-93856b25aa13?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1936&q=80', alt='')

      .hotel__other-ratings
        ul.hotel__other-ratings-list
          li.hotel__other-ratings-item
            +rating({
              title: 'Rating Meal',
              total: '4.1',
              mods: 'meal'
            })
          li.hotel__other-ratings-item
            +rating({
              title: 'Rating Place',
              total: '3.7',
              mods: 'place'
            })
          li.hotel__other-ratings-item
            +rating({
              title: 'Rating Service',
              total: '3.9',
              mods: 'service'
            })

      .hotel__info
        .hotel__info-main
          section.hotel__info-block
            h2.hotel__info-block-title Территория
            .hotel__text
              p Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца. Я совсем один и блаженствую в здешнем краю, словно созданном для таких, как я. Я так счастлив, мой друг, так упоен ощущением покоя, что искусство мое страдает от этого. Ни одного штриха не мог бы я сделать, а никогда не был таким большим художником, как в эти минуты.
          section.hotel__info-block
            h2.hotel__info-block-title Питание
            .hotel__text
              p Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца. Я совсем один и блаженствую в здешнем краю, словно созданном для таких, как я. Я так счастлив, мой друг, так упоен ощущением покоя, что искусство мое страдает от этого. Ни одного штриха не мог бы я сделать, а никогда не был таким большим художником, как в эти минуты.
          section.hotel__info-block
            h2.hotel__info-block-title Сервис
            .hotel__text
              p Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца. Я совсем один и блаженствую в здешнем краю, словно созданном для таких, как я.
            .hotel__include
              ul.hotel__include-list
                li Parking
                li Safe
                li Conditioned Air
                li Safe
                li Rooms
                li Car rental
                li Airport shuttle
                li Phone
                li Heating
                li Storage
                li Restaurant
          section.hotel__info-block
            h2.hotel__info-block-title Номера
            .hotel__text
              p Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца. Я совсем один и блаженствую в здешнем краю, словно созданном для таких, как я.
            .hotel__include
              ul.hotel__include-list
                li Parking
                li Safe
                li Conditioned Air
                li Safe
                li Rooms

        .hotel__info-additional
          +video({
            link: 'https://vimeo.com/108650530',
            cover: 'https://images.unsplash.com/photo-1618767862285-7ce6c5ee858c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=660&q=80'
          })

          .hotel__map
            img(src='img/map-example.jpg', alt='')