extends ../pug/layout.pug

block meta
  - var title = 'Index';
  title= title
  meta(name='description', content='')

block content
  .layout
    .layout__container
      main.layout__main


        .promo
          .promo__slider
            .swiper-wrapper
              .swiper-slide
                .promo__slide
                  .promo__slide-content
                    h1.promo__slide-title Завершён ежегодный съезд
                    +btn('Ссылка', '/', 'bg-light')
                  .promo__slide-media
                    img(src='https://images.unsplash.com/photo-1547919478-52cd7aa91cad?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80', alt='')
              .swiper-slide
                .promo__slide
                  .promo__slide-content
                    h1.promo__slide-title Завершён ежегодный съезд
                    +btn('Ссылка', '/', 'bg-light')
                  .promo__slide-media
                    img(src='https://images.unsplash.com/photo-1547919478-52cd7aa91cad?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80', alt='')
              .swiper-slide
                .promo__slide
                  .promo__slide-content
                    h1.promo__slide-title Завершён ежегодный съезд
                    +btn('Ссылка', '/', 'bg-light')
                  .promo__slide-media
                    img(src='https://images.unsplash.com/photo-1547919478-52cd7aa91cad?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80', alt='')



        section.tours
          h2.tours__title Туры
          ul.tours__list
            li.tours__item.tours__item--accent
              +tour-card({
                title: 'Palm Springs, California',
                dates: '18.03 — 25.03',
                price: '12 490',
                media: 'https://images.unsplash.com/photo-1616431588645-00b20a6b5c95?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=632&q=80',
              })
            li.tours__item
              +tour-card({
                title: 'Bali, Indonesia',
                dates: '01.04 — 07.04',
                price: '39 000',
                media: 'https://images.unsplash.com/photo-1550422487-50eb927ef955?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=572&q=80'
              })
            li.tours__item
              +tour-card({
                title: 'Maldives',
                dates: '11.03 — 19.03',
                price: '114 990',
                media: 'https://images.unsplash.com/photo-1514924013411-cbf25faa35bb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=936&q=80'
              })
            li.tours__item
              +tour-card({
                title: 'Chiang Mai, Thailand',
                dates: '11.03 — 19.03',
                price: '114 990',
                media: 'https://images.unsplash.com/photo-1618594488853-205b3e33b50d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80'
              })
            li.tours__item
              +tour-card({
                title: 'Veligandu Huraa, Maldives',
                dates: '11.03 — 19.03',
                price: '114 990',
                media: 'https://images.unsplash.com/photo-1522959506061-336335a15efc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1531&q=80'
              })
            li.tours__item.tours__item--accent
              +tour-card({
                title: 'Barnard, Vermont',
                dates: '11.03 — 19.03',
                price: '114 990',
                media: 'https://images.unsplash.com/photo-1517264498545-7572d6fc913d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=668&q=80'
              })

        section.special-offers
          h2.special-offers__title Акции
          ul.special-offers__list
            li.special-offers__item
              +special-offer-card({
                title: 'South Luangwa National Park, Zambia',
                dates: '18.03 — 25.03',
                price: '12 490',
                media: 'https://images.unsplash.com/photo-1618472959304-6ad80952c507?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80'
              })
            li.special-offers__item
              +special-offer-card({
                title: 'Volcanoes National Park, Rwanda',
                dates: '01.04 — 07.04',
                price: '39 000',
                media: 'https://images.unsplash.com/photo-1618397806621-290788301ced?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80'
              })

        section.about-us
          h2.about-us__title О компании
          .about-us__block
            h3.about-us__subtitle В преддверии отпуска
            .about-us__text
              p Часто, желая совершить перелет от будней к отдыху, мы видим перед собой вместо желанных солнечных берегов лишь клубящиеся облака противоречивой информации от туроператоров, агентов, транспортных компаний, порой сгущающиеся в настоящие тучи. И вылет при такой видимости, в отсутствие выверенного курса грозит безнадежно задержаться. Подбор туров заканчивается головной болью и апатией. Но решение есть!
          .about-us__block
            h3.about-us__subtitle Туристическая поисковая система Слетать.ру — Санкт-Петербург!
            .about-us__text
              p Именно в этом случае на помощь приходит Слетать.ру — современный и самый точный навигатор в мире туризма, беспристрастно и объективно отмечающий любые изменения, что в нем происходят. Слетать.ру — это, в первую очередь, поиск туров по всем туроператорам. И весь этот огромный объем информации представлен у нас в самом простом подборе туров, доступном даже неискушенному пользователю виде.
          .about-us__block
            h3.about-us__subtitle Как искать туры?
            .about-us__text
              p Поисковик туров по всем туроператорам на Слетать.ру предельно прост. Всего несколько минут нужно, чтобы ввести в поисковую форму сведения о путешествии вашей мечты: город вылета, курорт, даты, вид проживания и питания, — и система в режиме реального времени проанализирует и представит вам все имеющиеся предложения, устранив при этом многочисленные повторы, а также выстроит результаты в соответствии с главным критерием поиска тура, будь то стоимость, отель или предпочтительный туроператор. Утомительные обзвоны туристических компаний и подбор туров по множеству сайтов туроператоров навсегда останутся в прошлом! Это особенно актуально для тех, кто ищет горящие туры, которые порой перемещаются от продавца к покупателю быстрее любого авиалайнера.
          .about-us__block
            h3.about-us__subtitle Где купить тур из Санкт-Петербурга?
            .about-us__text
              p Тур выбран? Самая выгодная цена найдена? Время переходить к приобретению путевки. Где это сделать — также подскажет система Слетать.ру: наша база данных содержит исчерпывающую информацию о точках продаж туров в разных городах и регионах. Так что вероятность упустить свой туристический шанс неуклонно стремится к нулю: два клика, несколько шагов до фирменного офиса Слетать.ру — и путевка уже в ваших руках. А компания Слетать.ру желает вам приятного путешествия!

      .layout__side
        .layout__side-block
          +banner({
            title: 'Determine your priorities',
            media: 'https://images.unsplash.com/photo-1518433648344-d6380d226a72?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1567&q=80'
          })
          +banner({
            title: 'All limitations are self-imposed',
            media: 'https://images.unsplash.com/photo-1557559729-f7e22ab4b64d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1001&q=80'
          })
        .layout__side-block
          article.featured-news
            h2.featured-news__title Новости
            section.featured-news__item
              time.featured-news__item-date Вчера
              h3.featured-news__item-title Евротур XIX века: вдумчивое путешествие Льюиса Кэрролла в Россию
              .featured-news__item-intro
                p В 1867 году Льюис Кэрролл вместе с другом Генри Парри Лиддоном отправился в путешествие в Россию...
            section.featured-news__item
              time.featured-news__item-date 15 апреля
              h3.featured-news__item-title Маргинальный туризм XX века: три туристических маршрута, с которых начался бэкпэкинг
              .featured-news__item-intro
                p Сегодня бэкпэкинг — один из самых популярных способов путешествия. Тысячи людей с рюкзаками за спиной...
            section.featured-news__item
              time.featured-news__item-date 3 марта
              h3.featured-news__item-title Волосы, еда, криптозоология: десять музеев с необычными экспонатами
              .featured-news__item-intro
                p Собрали подборку из десяти странных музеев со всего мира: жутких, забавных, фривольных, отвратительных...
            section.featured-news__item
              time.featured-news__item-date 29 декабря 2020
              h3.featured-news__item-title Как я побывал в Кижах и полетал на вертолёте по цене ночного плацкарта
              .featured-news__item-intro
                p Зимой 2020 года я посетил Кижи. Так как добирался я весьма нетривиальным способом — туда по льду, обратно на вертолёте...

    article.subscription
      .subscription__container
        .subscription__info
          h2.subscription__title Оставьте ваш e-mail, чтобы получать наши новости
          +form().subscription__form
            .subscription__field
              label.subscription__label
                input.subscription__input(type='text', placeholder='E-mail')