extends ../pug/layout.pug

block meta
  - var title = 'News';
  title= title
  meta(name='description', content='')

block content
  .news

    .news__intro
      .news__container.news__container--intro
        +go-back('/')
        h1.news__title Новости
        .news__filter
          .news__filter-title
            svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 8 5', width='8', height='5')
              path(stroke-linecap='round', stroke-linejoin='round', stroke-width='1.5', d='M1 1h6')
              path(stroke-linecap='round', stroke-linejoin='round', stroke-width='1.5', d='M2.5 4h3')
            | Фильтр по темам
          ul.news__filter-list
            li.news__filter-item.news__filter-item--current
              span Все
            li.news__filter-item
              a(href='/') О турах
            li.news__filter-item
              a(href='/') Советы и лайфкахи
            li.news__filter-item
              a(href='/') О нас

    .news__main
      .news__container.news__container--main
        ul.news__list
          li.news__item
            +article-card({
              media: 'https://images.unsplash.com/photo-1616431588645-00b20a6b5c95?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=916&q=80',
              title: 'Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus',
              intro: 'Qui animated corpse, cricket bat max brucks terribilem incessu zomby. The voodoo sacerdos flesh eater, suscitat mortuos comedere carnem virus.',
              tag: {
                title: 'О туре',
                mod: 'tours'
              },
              mods: 'wide'
            })
          li.news__item
            +article-card({
              media: 'https://images.unsplash.com/photo-1604079628040-94301bb21b91?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80',
              title: 'De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia',
              intro: 'Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium.',
              tag: {
                title: 'О нас',
                mod: 'about-us'
              },
              mods: 'wide'
            })
          li.news__item
            +article-card({
              media: 'https://images.unsplash.com/photo-1619314367889-704ecd5a45a9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1650&q=80',
              title: 'Alii missing oculis aliorum sicut serpere crabs nostram',
              intro: 'Sicut zeder apathetic malus voodoo. Aenean a dolor plan et terror soulless vulnerum contagium accedunt, mortui iam vivam unlife.',
              tag: {
                title: 'О нас',
                mod: 'about-us'
              },
              mods: 'wide'
            })

        +pagination()