extends ../pug/layout.pug

block meta
  - var title = 'Tour';
  title= title
  meta(name='description', content='')

block content
  .layout
    .layout__container
      main.layout__main

        .tour
          .tour__promo
            .tour__promo-slider
              .swiper-wrapper
                .swiper-slide
                  .tour__promo-slide
                    .tour__promo-slide-info
                      h1.tour__promo-slide-title Жемчужины Кыргызстана
                      .tour__promo-slide-desc
                        p Продолжительность 8 ночей
                    .tour__promo-slide-media
                      img(src='https://images.unsplash.com/photo-1595686528907-725bf013cbfd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1789&q=80', alt='')
                .swiper-slide
                  .tour__promo-slide-slide
                    .tour__promo-slide-info
                      h1.tour__promo-slide-title Жемчужины Кыргызстана
                      .tour__promo-slide-desc
                        p Продолжительность 8 ночей
                    .tour__promo-slide-media
                      img(src='https://images.unsplash.com/photo-1595686528907-725bf013cbfd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1789&q=80', alt='')
                .swiper-slide
                  .tour__promo-slide-slide
                    .tour__promo-slide-info
                      h1.tour__promo-slide-title Жемчужины Кыргызстана
                      .tour__promo-slide-desc
                        p Продолжительность 8 ночей
                    .tour__promo-slide-media
                      img(src='https://images.unsplash.com/photo-1595686528907-725bf013cbfd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1789&q=80', alt='')

          .tour__block
            .tour__block-title Стоимость от
            .tour__block-info
              | Размещение (2-местное / 1-местное) 60920 руб. за чел. / 71915 руб.

          .tour__block
            .tour__block-title Гарантированные даты туров
            .tour__block-info
              ul.tour__dates-list
                li.tour__dates-item
                  .tour__month Июнь →
                  .tour__days 3, 6, 7, 10
                li.tour__dates-item
                  .tour__month Июль →
                  .tour__days 3, 6, 7, 10
                li.tour__dates-item
                  .tour__month Август →
                  .tour__days 3, 6, 7, 10

          +tour-dates()
          +tour-spec()
          +tour-route()

          .tour__additional-info(id='tour-hotels')
            h2.tour__subtitle Информация о предлагаемых гостиницах
            p Проживание. В стоимость тура включено размещение в гостиницах и гостевых домах местных жителей.
            p Гостиницы. В стоимость программы включено размещение в небольших уютных отелях, зачастую оформленных в национальном стиле. Гостиницы этого уровня отличаются теплым приемом, чутким и доброжелательным отношением персонала и позволяют ближе познакомиться с национальной культурой.
            p Гостевые дома. Размещение в гостевых домах позволит окунуться в традиции и быт местных жителей, сохраняя при этом должный уровень комфорта. Это традиционные дома, расположенные в отдаленных горных поселках и оборудованные всеми необходимыми удобствами для комфортного размещения туристов.
            p Населенный пункт. Размещение Бишкек Шах Палас 3* / Дискавери 3* или подобная Озеро Иссык-Куль Радуга 4* / Каприз 4* или подобная Каракол Грин Ярд 3* / Амир 3* или подобная Пос.Кочкор Гостевой дом
          .tour__additional-info(id='tour-transports')
            h2.tour__subtitle Информация о предлагаемом транспорте
            p Транспорт. На данном маршруте будет использоваться следующий вид транспорта (в зависимости от количества человек в группе):
            ul
              li Группа Наименование транспорта
              li Группа 1-3 чел. "Mitsubishi Delica"
              li Группа 4-15 чел. "Mercedes-Benz Sprinter"

        section.tours
          h2.tours__title Похожие туры
          ul.tours__list
            li.tours__item
              +tour-card({
                isOffer: true,
                title: 'South Luangwa National Park, Zambia',
                dates: '18.03 — 25.03',
                price: '12 490',
                media: 'https://images.unsplash.com/photo-1618472959304-6ad80952c507?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80'
              })
            li.tours__item
              +tour-card({
                isOffer: true,
                title: 'Volcanoes National Park, Rwanda',
                dates: '01.04 — 07.04',
                price: '39 000',
                media: 'https://images.unsplash.com/photo-1618397806621-290788301ced?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80'
              })
            li.tours__item
              +tour-card({
                isOffer: true,
                title: 'Queenstown, New Zealand',
                dates: '11.03 — 19.03',
                price: '114 990',
                media: 'https://images.unsplash.com/photo-1579153348703-48e8a41e2636?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80'
              })
            li.tours__item
              +tour-card({
                isOffer: true,
                title: 'St. Barts',
                dates: '11.03 — 19.03',
                price: '114 990',
                media: 'https://images.unsplash.com/photo-1549144511-f099e773c147?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=668&q=80'
              })

      .layout__side
        .layout__side-block
          +banner({
            title: 'Determine your priorities',
            media: 'https://images.unsplash.com/photo-1518433648344-d6380d226a72?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1567&q=80'
          })
          +banner({
            title: 'All limitations are self-imposed',
            media: 'https://images.unsplash.com/photo-1557559729-f7e22ab4b64d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1001&q=80'
          })
        .layout__side-block
          +tour-nav()
        .layout__side-block
          +direction-manager()