.hotel {
  @include layout;

  &__container {
    @include container;
  }

  &__promo {
    display: grid;
    gap: 2px;
    grid-template: 'intro gallery' / 9fr 3fr;
  }

  &__intro {
    position: relative;
    grid-area: intro;
    background-color: $bg-c--dark;
    color: $text-c--light;
    overflow: hidden;
    z-index: 1;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;

    &::after {
      display: block;
      content: '';
      padding-bottom: (8 / 16) * 100%;
    }
  }

  &__intro-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 2.25rem 3.75rem 2.25rem 2.25rem;
  }

  &__data-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  &__data-item {
    margin: 0 1.5rem 1.5rem 0;
    padding: 0;
  }

  &__location {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: auto;
    color: currentColor;
    text-decoration: none;
    font-size: ms(-1);
    line-height: 1.45em;
    margin-bottom: 0.75rem;

    svg {
      display: block;
      margin-right: 0.5rem;
      fill: currentColor;
    }
  }

  &__title {
    font-size: ms(2);
    line-height: 1.1em;
    letter-spacing: -0.01em;
    margin: 0;
    font-weight: 700;
    margin-left: -0.075em;
  }

  &__intro-media {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      content: '';
      background: $layer;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__gallery {
    grid-area: gallery;
    display: grid;
    gap: 2px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  &__gallery-preview {
    position: relative;
    z-index: 1;
    overflow: hidden;

    img {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &--first {
      border-top-right-radius: 12px;
    }

    &--more {
      border-bottom-right-radius: 12px;
    }
  }

  &__gallery-more-photos {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: ms(-1);
    line-height: 1.45em;
    font-weight: 600;
    color: $text-c--light;
    z-index: 2;
    background-color: rgba(#141414, 0.875);
    cursor: pointer;
  }

  &__gallery-covered {
    display: none;
  }

  &__other-ratings {
    padding: 0 2.25rem;
    margin-top: 1.5rem;
  }

  &__other-ratings-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__other-ratings-item {
    margin: 0 0.5rem 0.5rem 0;
    padding: 0;

    @media (min-width: $screen-sm) {
      margin: 0 0.5rem 0 0;
    }
  }

  &__info {

    @media (min-width: $screen-sm) {
      display: grid;
      gap: 2px;
      grid-template: 'main additional' / 9fr 3fr;
    }
  }

  &__info-main {

    @media (min-width: $screen-sm) {
      grid-area: main;
      padding: 0 4.5rem 0 2.25rem;
    }
  }

  &__info-additional {

    @media (min-width: $screen-sm) {
      grid-area: additional;
      padding-top: 2.25rem;
    }
  }

  &__info-block {
    padding-top: 2.25rem;
  }

  &__info-block-title {
    margin-top: 0;
    margin-bottom: 0.75rem;
    font-size: ms(1);
    line-height: 1.2em;
    font-weight: 700;
  }

  &__text {
    font-size: 0.8em;
    line-height: 1.5em;
  }

  &__include {
    margin-top: 1.5rem;
  }

  &__include-list {
    list-style: none;
    margin: 0;
    padding: 0;

    @media (min-width: $screen-sm) {
      columns: 3;
      column-gap: 0;
    }

    li {
      position: relative;
      padding: 0 1.25rem 0;
      margin-bottom: 0.25rem;
      font-size: 0.8em;
      line-height: 1.5em;

      &::before {
        position: absolute;
        content: '';
        top: 6px;
        left: 2px;
        width: 12px;
        height: 12px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 12 12'%3E%3Cpath fill='%23363E49' d='M10.73.297738L3.62823 8.22084 1.7172 5.74212C.874582 4.94843-.44987 5.87279.151836 7.06263L2.42365 11.3901c.36079.5282 1.20458 1.0564 2.04604 0 .36079-.5282 7.22281-9.9039 7.22281-9.9039.8438-1.05641-.2398-1.980772-.9625-1.188462z'/%3E%3C/svg%3E");
      }
    }
  }

  &__map {
    position: relative;
    margin-top: 1rem;

    &::before {
      display: block;
      content: '';
      padding-bottom: 100%;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}