mixin logo(href, mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' logo--' + modsList[i].trim();
      }
    }

  a.logo(class=allMods, href='/')&attributes(attributes)
    svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 104 30', width='140', height='40')
      path(fill='#265299', d='M0 18.0153V0h2.39734v15.8908h8.87356v2.1245H0zM25.196 18.0153H14.0381V4.04369h10.8018V6.0108h-8.514v3.79738h7.9591v1.96372h-7.9591v4.2763h8.8701v1.9671zM38.4191 6.0108h-4.7947v12.0045h-2.2638V6.0108h-4.7262V4.04369h11.7847V6.0108zM53.5086 8.21054c-.0162-.3626-.1096-.7176-.2737-1.04141-.1642-.32382-.3954-.60905-.6784-.83675-.5616-.44474-1.3699-.66369-2.4179-.66369-.4279-.00371-.8551.03873-1.274.12658-.3601.07413-.7067.20337-1.0274.38316-.2726.14854-.507.35814-.6849.61237-.1443.22731-.2265.48835-.2385.75721-.012.26886.0466.53618.17.77543.1485.23366.3565.42373.6027.55079.375.20004.7713.35726 1.1816.46868.5.14824 1.1393.29991 1.9178.455.7706.16421 1.4864.34209 2.1405.54049.6062.171 1.1834.4316 1.7124.7732.4658.3036.8522.7142 1.1267 1.1974.2877.555.427 1.1749.4042 1.7994.0075.5771-.1278 1.147-.3939 1.6593-.2774.5153-.6672.9619-1.1404 1.3068-.5293.3864-1.123.676-1.7535.8553-.7308.2126-1.489.3164-2.2501.3079-.9316.0158-1.8608-.0993-2.7603-.3421-.7191-.194-1.3953-.5213-1.9933-.9648-.5208-.3935-.9409-.9047-1.226-1.4916-.2828-.6056-.4411-1.2617-.4658-1.9294l2.1884-.1471c.0235.4753.1622.9379.4041 1.3479.2277.3783.5336.7037.8973.9544.3904.2621.824.4532 1.2809.5645.5028.1255 1.0194.1876 1.5377.1847.4808.0044.9604-.0496 1.4282-.1608.3867-.0907.7558-.2444 1.0925-.455.2878-.1785.5295-.4223.7055-.7115.1646-.2774.2499-.5945.2465-.9169.0073-.2873-.0501-.5725-.1678-.8347-.1469-.2777-.3735-.5052-.6507-.6534-.4321-.2387-.8922-.4225-1.3699-.5474-.5868-.1665-1.3516-.3444-2.2946-.5337-.7348-.1415-1.4548-.3511-2.1507-.626-.5308-.206-1.0255-.4947-1.4658-.8553-.3566-.29533-.6402-.66877-.8288-1.09133-.1829-.43265-.2728-.89886-.2637-1.36842.0009-.53446.1326-1.06059.3835-1.53264.2452-.47883.5966-.8954 1.0275-1.21789.5091-.36417 1.0782-.63628 1.6815-.80395.7142-.20103 1.4534-.29895 2.1953-.29079.7617-.00724 1.5208.08827 2.2569.28395.6348.16396 1.2339.44345 1.7672.82447.484.34942.8831.80306 1.1679 1.32737.296.55262.4601 1.16616.4794 1.79264l-2.2261.16763zM66.9611 18.0153V0h12.1682v2.1279h-9.7811v5.57974h8.4626v2.12448h-8.4626v8.18318h-2.3871zM91.4174 18.0153h-9.2709V4.04369h2.2878V16.0482h6.9762l.0069 1.9671zM104 4.04369l-5.8221 8.06001v5.9116h-2.2912v-5.9116l-5.6132-8.06001h2.6919l3.0035 4.50896c.2363.34211.4555.68421.6507.99553.1858.29011.3551.59052.5069.89972.1274-.2731.2715-.53818.4315-.79367.1781-.29079.4213-.68421.7329-1.12553l3.0821-4.48501H104z')
      path(fill='#40BFEA', d='M38.9499 0l7.2366 3.42106-2.1645.97842-3.6576-2.9729 2.8494 3.32869.1335 1.90895L41.998 5.2958l-1.5343.68421L38.9499 0z')
      path(fill='#265299', d='M2.04801 23.5198c.25918-.0159.51845.0297.75656.1332.23811.1034.4483.2618.61335.462.34947.4877.51891 1.0813.47947 1.6798.03718.6019-.13326 1.1984-.48289 1.69-.16226.1986-.36882.3565-.60313.461-.23432.1046-.48988.1529-.74623.1411-.27103.003-.53958-.0518-.7877-.1608-.24041-.1059-.447545-.275-.599337-.4892h-.05822l-.140417.5679H0v-6.264h.684954v1.5224c0 .3421.000001.6466-.030822.9168h.030822c.154012-.2149.359416-.3879.597486-.5032.23808-.1153.50126-.1693.76557-.157zm-.09589.561c-.18406-.0174-.36963.0089-.54162.0767-.17198.0677-.32553.1751-.44814.3133-.236394.3991-.341785.8621-.301382 1.324-.040445.4654.068728.9316.311656 1.3308.121936.1405.275586.2501.448276.3197.17268.0696.35945.0972.5449.0805.1794.0124.3589-.0225.52056-.1011.16167-.0787.29984-.1983.40071-.347.22456-.3912.32934-.8397.30138-1.2898.03231-.4493-.07279-.8979-.30138-1.2863-.10845-.1423-.25076-.2554-.41403-.3289-.16328-.0735-.34234-.105-.52093-.0919zM4.34946 23.6053h.72263l.96921 2.5179c.16205.4054.29593.8215.4007 1.2453h.03425c.03425-.1369.10617-.3729.21918-.7048.11302-.3318.47604-1.3684 1.0925-3.0584h.70893l-1.89732 5.0255c-.12869.4019-.35591.7653-.66098 1.0571-.26062.2117-.58898.3223-.92469.3114-.20405.0011-.40753-.0219-.60619-.0685v-.5336c.16349.0326.32987.0487.49659.0479.22619-.0029.44513-.0802.62285-.22s.30429-.3342.36007-.5532l.24658-.6295-1.78431-4.4371zM14.206 26.8006c.0086.1845-.0292.3682-.11.5343-.0807.1662-.2019.3094-.3524.4167-.3823.2469-.8331.3667-1.2877.3421-.4727.0248-.944-.0706-1.3699-.2771v-.6226c.2183.1101.448.1961.6849.2566.2305.0598.4675.0909.7055.0924.2824.0143.5635-.0459.8151-.1745.0805-.0483.148-.1155.1967-.1957.0487-.0801.0771-.1709.0829-.2646.0057-.0936-.0115-.1872-.05-.2727-.0386-.0855-.0974-.1603-.1713-.2181-.2695-.1847-.5634-.331-.8734-.4345-.3058-.1015-.5997-.2357-.8767-.4002-.1565-.0981-.2888-.2303-.387-.3866-.0875-.1591-.1313-.3385-.1267-.52-.0045-.1674.0333-.3331.1099-.482.0766-.1489.1896-.2761.3285-.3698.3599-.2259.7811-.3346 1.2055-.3114.4808.0005.9563.0994 1.3973.2908l-.2397.5406c-.3804-.1681-.7898-.2611-1.2056-.2737-.2478-.0156-.4952.0364-.7157.1505-.0741.0398-.1359.0991-.1788.1715-.0428.0723-.0651.155-.0644.239-.0035.1079.029.2138.0925.3011.0778.1006.1773.1824.2911.2395.2504.1304.5089.2447.774.3421.3899.1161.7514.3118 1.0616.5747.1757.1948.2701.4494.2638.7116zM15.9629 28.0048h-.685v-6.264h.685v6.264zM19.2472 28.0869c-.2849.0151-.5698-.0301-.836-.1327-.2662-.1026-.5076-.2602-.7085-.4626-.4001-.4558-.6043-1.0506-.5686-1.6558-.0363-.615.151-1.2225.5274-1.7105.1715-.2054.3879-.3687.6325-.4772.2447-.1086.5111-.1595.7786-.1488.2458-.0119.4911.0307.7185.1247.2274.0941.4311.2372.5966.4192.3351.4031.5074.9168.4829 1.4403v.4242h-3.0412c-.0179.4267.121.8452.3904 1.1768.1366.1379.301.2452.4822.3148.1813.0696.3753.0999.5692.0889.4857-.0022.9659-.1034 1.411-.2976v.5952c-.2201.0965-.4497.1699-.685.219-.2466.0524-.4979.0799-.75.0821zm-.1815-4.0163c-.1579-.008-.3157.0184-.4624.0775s-.2787.1494-.3869.2646c-.2267.2695-.3579.6062-.3733.9579h2.298c.023-.3462-.0777-.6893-.2843-.9682-.0983-.1113-.2205-.1989-.3575-.2563-.137-.0575-.2852-.0833-.4336-.0755zM23.4391 27.5361c.1147-.0002.2292-.0094.3425-.0274.0891-.012.1772-.0303.2637-.0547v.5097c-.1026.0445-.211.0744-.3219.089-.1258.0203-.2528.0318-.3802.0342-.8562 0-1.2808-.4516-1.2808-1.3479v-2.6274h-.6336V23.79l.6336-.2771.2808-.9442h.387v1.0263h1.2809v.52h-1.2809v2.5966c-.0159.2205.0513.4389.1884.6124.0658.0714.1466.1274.2366.1641.0899.0366.1869.053.2839.048zM27.6447 28.0048l-.1335-.6261h-.0343c-.1717.2363-.397.4286-.6575.5611-.261.1047-.5408.1548-.822.1471-.3736.0208-.741-.1016-1.0274-.3421-.1282-.1231-.2283-.2724-.2933-.4378-.0651-.1653-.0935-.3428-.0834-.5201 0-.8929.7123-1.3684 2.1405-1.4027l.75-.0239v-.2737c.0226-.2746-.058-.5478-.2261-.7663-.0937-.0904-.2058-.1596-.3288-.2027-.1229-.0431-.2538-.0591-.3835-.047-.4372.0182-.8646.1352-1.25.3421l-.2055-.5098c.2244-.1227.4639-.2158.7123-.2771.2548-.0677.5172-.1022.7809-.1026.4196-.0379.8381.0844 1.1712.3421.1385.15.2439.3274.3094.5207.0655.1933.0896.3982.0708.6014v3.0105l-.4898.0069zm-1.5137-.4687c.3599.0196.7131-.1033.9829-.3421.1201-.1282.2124-.2797.2713-.4451.0589-.1654.0832-.3411.0712-.5162v-.3969l-.685.0274c-.3982-.0123-.7934.0734-1.1507.2497-.1141.072-.2064.1738-.2668.2944-.0603.1206-.0865.2554-.0757.3898-.0071.1024.0089.205.0468.3004.038.0953.0969.1809.1724.2504.18.1401.4062.2073.6336.1882zM30.9462 27.5361c.1147-.0005.2292-.0096.3425-.0274.088-.012.1749-.0303.2603-.0547v.5097c-.1023.0454-.2108.0754-.322.089-.1257.0203-.2527.0318-.3801.0342-.8528 0-1.2809-.4516-1.2809-1.3479v-2.6274h-.6335V23.79l.6335-.2771.2809-.9442h.387v1.0263h1.2843v.52h-1.2843v2.5966c-.0149.2209.0535.4394.1918.6124.0655.0718.1462.1281.2363.1648.09.0366.1871.0528.2842.0473zM32.3367 27.5772c-.0115-.1459.0312-.2908.1199-.4072.0439-.0461.0971-.0825.1562-.1067.059-.0242.1225-.0356.1862-.0335.0675-.0036.135.0071.1982.0313.0631.0241.1204.0612.1683.1089.0935.1143.14.2599.1301.4072.0106.1469-.0374.292-.1335.4036-.0967.0861-.2216.1337-.3511.1337-.1295 0-.2544-.0476-.351-.1337-.0461-.0558-.0808-.1203-.1019-.1895-.0212-.0693-.0284-.1421-.0214-.2141zM36.645 23.5129c.1771-.0027.3539.0133.5275.0479l-.0925.6192c-.1595-.037-.3226-.0565-.4863-.0581-.1753-.0005-.3484.0382-.5067.1134-.1582.0752-.2976.1849-.4077.3211-.2577.3001-.3933.6859-.3802 1.081v2.3674h-.6849v-4.3995h.5513l.0788.8176h.0308c.1444-.2633.3471-.4903.5925-.6636.2281-.1591.4993-.245.7774-.2464zM38.6348 23.6053v2.8634c-.0231.2896.0651.577.2466.804.1017.0961.2227.1696.3549.2156.1323.046.2728.0635.4123.0512.1885.0185.3788-.0058.5567-.0709.1779-.0652.3388-.1696.4707-.3054.247-.3634.3607-.8009.3219-1.2384v-2.3195h.685v4.4132h-.5514l-.0959-.5919h-.0377c-.1368.2182-.3344.3918-.5685.4995-.2607.1201-.5452.1797-.8322.1745-.4376.0344-.8713-.1031-1.209-.3832-.1549-.1648-.2739-.36-.3494-.5732-.0755-.2132-.1057-.4397-.0889-.6652v-2.8737h.6849z')
