mixin distance(text, mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' distance--' + modsList[i].trim();
      }
    }

  .distance(href='/', class=allMods)&attributes(attributes)
    svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 16 16', width='16', height='16')
      path(d='M.193369 6.25397C1.01023 2.59661 4.25362-.00275566 7.99682.00000614 8.58231-.00073309 9.16598.0652436 9.73656.196663 11.8152.654221 13.6251 1.92457 14.7633 3.72507c1.1383 1.8005 1.5107 3.9818 1.0343 6.0586-.0415.23033-.2081.41823-.4317.48673-.2235.0686-.4666.0063-.6298-.1613s-.2192-.41245-.1451-.63446c.7486-3.34751-1.138-6.72293-4.3792-7.83511-3.24123-1.112184-6.79922.39499-8.25891 3.4985C.493199 8.24154 1.5992 11.9476 4.52017 13.7407c2.92097 1.793 6.72163 1.0989 8.82213-1.6112.2256-.2092.5698-.2227.8111-.0318.2413.1908.3079.5291.157.7974-2.2907 2.964-6.32952 3.9387-9.71738 2.3449C1.20516 13.6462-.623492 9.91134.193369 6.25397z')
      path(d='M8.10565 9.93408c-.13771-.29028-.03316-.6378.24178-.80363l.47001-.23178.78569-2.51439-2.45527.77258-1.12241 3.58894c-.10095.3257-.44624.508-.77165.4074-.15784-.0485-.28971-.1582-.36616-.3047-.07645-.1465-.09112-.3175-.04072-.4749l1.22062-3.90504c.06324-.19131.21473-.34035.40687-.40034l3.90039-1.22208c.1179-.04235.2468-.04235.3648 0 .1573.0469.2891.15527.3657.30064.0765.14537.0914.31548.0411.47194L9.89776 9.53078c-.04973.16221-.16388.29681-.31568.37225l-.7015.35117c-.3021.1086-.63721-.0298-.77493-.32012z')
    span!= text