.distance {
  display: flex;
  align-items: center;
  font-size: ms(-1);
  line-height: 1.45em;
  font-weight: 500;

  svg {
    display: block;
    margin-right: 0.5rem;
    fill: currentColor;
  }

  span {
    display: block;
  }
}