.page-footer {
  position: relative;
  z-index: 1;
  border-top: 1px solid $border-c;
  background-color: $bg-c--shade;

  &__container {
    @include container;
  }

  &__top {
    position: relative;
    padding: 1.5rem 1rem;

    @media (min-width: $screen-sm) {
      padding: 1.5rem;
    }
  }

  &__intro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  &__main-phone {
    color: $primary-c;

    &::before {
      background-color: rgba($primary-c, 0.125);
    }
  }

  &__middle {
    padding: 1.5rem 1rem;

    @media (min-width: $screen-sm) {
      padding: 2.25rem 1.5rem;
    }
  }

  &__main-info {
    position: relative;

    @media (min-width: $screen-sm) {
      display: grid;
      gap: 2.25rem 1rem;
      grid-template:
        'main additional moscow spb privacy'
        'socials . . . exchange-rate' / 3fr 3fr 2fr 2fr 2fr;
    }

    // @media (min-width: $screen-md) {
    //   display: grid;
    //   gap: 1.5rem 1rem;
    //   grid-template:
    //     'main for-tourists for-agents about'
    //     'socials moscow spb privacy' / 5fr 3fr 2fr 2fr;
    // }
  }

  &__subtitle {
    margin-top: 0;
    margin-bottom: 0.75rem;
    font-size: 0.6em;
    font-weight: 600;
    line-height: 1.5em;
  }

  &__nav {
    margin-bottom: 1.5rem;

    @media (min-width: $screen-sm) {
      margin-bottom: 0;
    }

    &--main {
      padding-right: 1.5rem;

      @media (min-width: $screen-sm) {
        grid-area: main;
      }

      .page-footer__subtitle {
        color: $primary-c;
      }

      .page-footer__item {
        font-size: ms(0);
        font-weight: 500;
        line-height: 1.3em;
      }
    }

    &--for-tourists {
      padding-right: 1.5rem;

      @media (min-width: $screen-sm) {
        grid-area: for-tourists;
      }
    }

    &--for-agents {
      padding-right: 1.5rem;

      @media (min-width: $screen-sm) {
        grid-area: for-agents;
      }
    }

    &--about {

      @media (min-width: $screen-sm) {
        display: flex;
        grid-area: about;
        flex-direction: column;
        margin-left: auto;
      }
    }

    &--additional {

      @media (min-width: $screen-sm) {
        grid-area: additional;
      }
    }
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__item {
    padding: 0;
    margin: 0;
    font-size: ms(-1);
    line-height: 1.45em;

    &:not(:last-child) {
      margin-bottom: 0.25rem;
    }

    a {
      display: inline-block;
      color: currentColor;
      text-decoration: none;
      vertical-align: top;
    }

    svg {
      position: relative;
      top: 4px;
      display: inline-block;
      margin-left: 0.5rem;
      vertical-align: top;
      fill: $primary-c;
    }
  }

  &__socials {

    @media (min-width: $screen-sm) {
      display: flex;
      grid-area: socials;
      align-self: end;
    }
  }

  &__contacts {
    margin-bottom: 1.5rem;

    @media (min-width: $screen-sm) {
      margin-bottom: 0;
    }

    &--moscow {

      @media (min-width: $screen-sm) {
        grid-area: moscow;
        // align-self: end;
      }
    }

    &--spb {

      @media (min-width: $screen-sm) {
        grid-area: spb;
        // align-self: end;
      }
    }
  }

  &__privacy {
    font-size: 0.6em;
    font-weight: 400;
    line-height: 1.5em;

    a,
    span {
      display: block;
      color: currentColor;
    }

    a {
      text-decoration: none;
    }

    @media (min-width: $screen-sm) {
      // align-self: end;
      display: flex;
      grid-area: privacy;
      flex-direction: column;
      align-items: flex-end;
      margin-left: auto;
      text-align: right;
    }
  }

  &__bottom {
    position: relative;
    padding: 1rem;

    &::before {
      position: absolute;
      right: 0;
      bottom: 100%;
      left: 0;
      height: 1px;
      content: '';
      background-color: currentColor;
      opacity: 0.125;
    }

    @media (min-width: $screen-sm) {
      padding: 1.5rem;
    }
  }

  &__data-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__data-item {
    margin-right: 1rem;
    font-size: 0.6em;
    line-height: 1.6em;
    opacity: 0.5;

    &:first-child {

      @media (min-width: $screen-sm) {
        margin-right: auto;
      }
    }

    &:not(:first-child) {

      @media (min-width: $screen-sm) {
        margin-left: 2.25rem;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
