mixin page-footer(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' page-footer--' + modsList[i].trim();
      }
    }

  footer.page-footer(class=allMods)&attributes(attributes)

    .page-footer__top
      .page-footer__container
        .page-footer__intro
          +logo().page-footer__logo
          +btn('8 (800) 551-70-42', 'tel:+78005517042').page-footer__main-phone

    .page-footer__middle
      .page-footer__container
        .page-footer__main-info

          section.page-footer__nav.page-footer__nav--main
            h3.page-footer__subtitle Направления
            ul.page-footer__list
              li.page-footer__item
                a(href='/')
                  | Страны
                  +svg-icon('countries', 14, 16)
              li.page-footer__item
                a(href='/')
                  | Туры
                  +svg-icon('luggage', 16, 16)
              li.page-footer__item
                a(href='/')
                  | Акции
                  +svg-icon('offers', 12, 16)
              li.page-footer__item
                a(href='/')
                  | Авиа
                  +svg-icon('air', 16, 16)

          section.page-footer__nav.page-footer__nav--additional
            h3.page-footer__subtitle Информация
            ul.page-footer__list
              li.page-footer__item
                a(href='/') Главная
              li.page-footer__item
                a(href='/') Агентствам
              li.page-footer__item
                a(href='/') Туристам
              li.page-footer__item
                a(href='/') О Компании
              li.page-footer__item
                a(href='/') Поиск туров

          //- section.page-footer__nav.page-footer__nav--for-tourists
            h3.page-footer__subtitle Туристам
            ul.page-footer__list
              li.page-footer__item
                a(href='/') Подбор тура
              li.page-footer__item
                a(href='/') Оформление виз
              li.page-footer__item
                a(href='/') Горящие туры
              li.page-footer__item
                a(href='/') Способы оплаты
              li.page-footer__item
                a(href='/') Возврат денежных средств
              li.page-footer__item
                a(href='/') Кредит
              li.page-footer__item
                a(href='/') Дисконтные карты
              li.page-footer__item
                a(href='/') Подарочные сертификаты
              li.page-footer__item
                a(href='/') Страхование
              li.page-footer__item
                a(href='/') Политика конфиденциальности
              li.page-footer__item
                a(href='/') Договор
          //- section.page-footer__nav.page-footer__nav--for-agents
            h3.page-footer__subtitle Агентствам
            ul.page-footer__list
              li.page-footer__item
                a(href='/') Сотрудничество
              li.page-footer__item
                a(href='/') Документы
              li.page-footer__item
                a(href='/') Личный кабинет
              li.page-footer__item
                a(href='/') Финансовое обеспечение
              li.page-footer__item
                a(href='/') Бонусная программа
              li.page-footer__item
                a(href='/') Правила бронирования
              li.page-footer__item
                a(href='/') Способы оплаты
              li.page-footer__item
                a(href='/') Семинары и вебинары
          //- section.page-footer__nav.page-footer__nav--about
            h3.page-footer__subtitle О компании
            ul.page-footer__list
              li.page-footer__item
                a(href='/') О компании
              li.page-footer__item
                a(href='/') Новости
              li.page-footer__item
                a(href='/') Реквизиты
              li.page-footer__item
                a(href='/') Вакансии
              li.page-footer__item
                a(href='/') Документы
              li.page-footer__item
                a(href='/') Подбор тура
              li.page-footer__item
                a(href='/') Контакты

          +socials().page-footer__socials
            +social-item('instagram', 16, 16)
            +social-item('vk', 24, 14)
            +social-item('ok', 12, 18)
            +social-item('facebook', 16, 16)

          section.page-footer__contacts.page-footer__contacts--moscow
            h3.page-footer__subtitle Москва
            ul.page-footer__list
              li.page-footer__item
                a(href='tel:+74951376293') +7 (495) 137-62-93
              li.page-footer__item Абросимова ул., 4

          section.page-footer__contacts.page-footer__contacts--spb
            h3.page-footer__subtitle Санкт-Петербург
            ul.page-footer__list
              li.page-footer__item
                a(href='tel:+74951376293') +7 (495) 137-62-93
              li.page-footer__item Синопская наб., 19

          .page-footer__privacy
            span © 2021 — Let`s Fly by Sletat.ru
            a(href='/') Политика конфиденциальности
            br
            b Режим работы:
            span Пн-пт 11.00-20.00
            span Сб. 12.00-17.00
            span Вс. выходной

          +exchange-rate()

    .page-footer__bottom
      .page-footer__container
        ul.page-footer__data-list
          li.page-footer__data-item ООО “ГорТревел”
          li.page-footer__data-item ИНН: 9721095485
          li.page-footer__data-item КПП: 772101001
          li.page-footer__data-item ОГРН: 1207700089838
