mixin tour-dates(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' tour-dates--' + modsList[i].trim();
      }
    }

  .tour-dates(class=allMods, id='tour-routes')&attributes(attributes)
    h2.tour-dates__title Гарантированные даты тура
    ul.tour-dates__list
      li
        | Группа № 01:
        span  06.03.2021 - 11.03.2021
      li
        | Группа № 02:
        span  03.04.2021 - 08.04.2021
      li
        | Группа № 03:
        span  01.05.2021 - 06.05.2021
      li
        | Группа № 04:
        span  08.05.2021 - 13.05.2021
      li
        | Группа № 05:
        span  12.06.2021 - 17.06.2021
      li
        | Группа № 06:
        span  03.07.2021 - 08.07.2021
      li
        | Группа № 07:
        span  24.07.2021 - 29.07.2021
      li
        | Группа № 08:
        span  14.08.2021 - 19.08.2021
      li
        | Группа № 09:
        span  11.09.2021 - 16.09.2021