mixin tour-route(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' tour-route--' + modsList[i].trim();
      }
    }

  .tour-route(class=allMods, id='tour-routes')&attributes(attributes)
    h2.tour-route__title Маршрут тура
    .tour-route__block
      .tour-route__day-media
        img(src='https://images.unsplash.com/photo-1604877249407-f4dce6f21d02?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1351&q=80', alt='')
      .tour-route__day-info
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi, doloremque.
    .tour-route__block
      .tour-route__day-media
        img(src='https://images.unsplash.com/photo-1518419530812-e4cc91c95162?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80', alt='')
      .tour-route__day-info
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi, doloremque.