.tour-route {
  padding: 1rem;
  margin: 1.5rem 0;
  background-color: $bg-c--shade;
  border: 1px solid darken($bg-c--shade, 5%);
  border-radius: $border-r;

  @media (min-width: $screen-sm) {
    padding: 1.5rem;
  }

  &__title {
    @include title;
    margin-bottom: 0.75rem;
  }

  &__block {

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    @media (min-width: $screen-sm) {
      display: grid;
      gap: 1rem;
    }

    @media (min-width: $screen-sm) {

      &:nth-child(odd) {
        grid-template: 'day-info day-media' / 8fr 4fr;
      }

      &:nth-child(even) {
        grid-template: 'day-media day-info' / 4fr 8fr;
      }
    }
  }

  &__day-info {
    font-size: 0.8em;
    line-height: 1.45em;

    @media (min-width: $screen-sm) {
      grid-area: day-info;
    }
  }

  &__day-media {
    position: relative;
    z-index: 1;
    margin-bottom: 0.5rem;

    img {
      display: block;
    }

    @media (min-width: $screen-sm) {
      grid-area: day-media;
    }
  }
}
