mixin tour-features(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' tour-features--' + modsList[i].trim();
      }
    }

  .tour-features(class=allMods)&attributes(attributes)
    ul.tour-features__list
      li.tour-features__item
        .tour-features__feature
          .tour-features__feature-media
            svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 18 20', width='18', height='20')
              path(fill-rule='evenodd', d='M13.4522.735076V1.76997C16.4609 2.06186 18 3.72477 18 6.71446v8.27034C18 18.3106 16.1043 20 12.3739 20H5.62609C1.89565 20 0 18.3106 0 14.9848V6.71446c0-1.99018.678261-3.41427 2.06957-4.24572.21931-.1497.50306-.16015.73245-.02698.22938.13318.36485.387.34967.65522-.01517.26822-.17836.50457-.42126.6101-.92173.5484-1.35652 1.50369-1.35652 3.00738v.26535H14.0609c.3794 0 .6869.31285.6869.69878 0 .38592-.3075.69877-.6869.69877H1.37391v6.60744c0 2.5385 1.23479 3.5911 4.25218 3.6088h6.74781c2.9739 0 4.2435-1.0791 4.2435-3.6177V6.70561c0-2.21131-.9652-3.28158-3.1652-3.53809v.67223c-.0508.35831-.3592.61989-.7148.60624-.3556-.01365-.6438-.29813-.6678-.65931V.673159c.0067-.186976.0869-.363392.2225-.489746.1357-.1263541.3155-.19209109.4992-.18249181.3787.02368961.671.34831081.6609.73415481zM5.70877 4.29279c-.13071.1313-.30768.20388-.49138.20151-.37599-.00965-.67444-.32507-.66956-.70762V.735076c.03953-.35799.33715-.628629.6913-.628629s.65177.270639.6913.628629v.964134h3.93044c.37943 0 .68693.31285.68693.69877s-.3075.69877-.68693.69877H5.91304v.69878c.00002.18687-.07355.36596-.20427.49726zm7.48253 6.32241c-.4802 0-.8696.396-.8696.8845 0 .4885.3894.8846.8696.8846.4803 0 .8696-.3961.8696-.8846 0-.2361-.0928-.4624-.2578-.6286-.1649-.1661-.3884-.2583-.6205-.2559h.0087zm-5.04347.8845c0-.4885.38931-.8845.86956-.8845s.86957.396.86957.8845c0 .4885-.38932.8846-.86957.8846-.48025 0-.86956-.3961-.86956-.8846zm-3.29566-.8845c-.48024 0-.86956.396-.86956.8845 0 .4885.38932.8846.86956.8846.48025 0 .86957-.3961.86957-.8846.00001-.2361-.0928-.4624-.25776-.6286-.16496-.1661-.38838-.2583-.6205-.2559h.00869zm7.46953 4.4668c0-.4885.3894-.8845.8696-.8845h-.0087c.2321-.0023.4556.0898.6205.2559.165.1662.2578.3925.2578.6286 0 .4886-.3893.8846-.8696.8846-.4802 0-.8696-.396-.8696-.8846zm-3.30431-.8845c-.48025 0-.86956.396-.86956.8845 0 .4886.38931.8846.86956.8846s.86957-.396.86957-.8846c0-.4885-.38932-.8845-.86957-.8845zm-5.03478.8845c0-.4885.38932-.8845.86956-.8845h-.00869c.23212-.0023.45554.0898.6205.2559.16496.1662.25777.3925.25776.6286 0 .4886-.38932.8846-.86957.8846-.48024 0-.86956-.396-.86956-.8846z', clip-rule='evenodd')
          .tour-features__feature-info
            | Даты туров
            span с 06.03 по 16.09
      li.tour-features__item
        .tour-features__feature
          .tour-features__feature-media
            svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 20 20', width='20', height='20')
              path(fill-rule='evenodd', d='M.774004 9.34C1.192 9.34 1.53 9.002 1.53 8.584V6.253c0-3.043 1.68-4.723 4.723-4.723h7.494c3.053 0 4.723 1.68 4.723 4.723v7.5c0 3.043-1.68 4.714-4.723 4.714H6.254c-3.052 0-4.723-1.68-4.723-4.714 0-.422-.342-.765-.764996-.765-.423 0-.76499963.343-.76499963.765C.00000437 17.608 2.392 20 6.244 20h7.503C17.608 20 20 17.608 20 13.756v-7.5C20 2.393 17.608 0 13.747 0H6.254C2.41 0 .00000437 2.393.00000437 6.253v2.322c-.001.422.34099963.765.76299963.765h.011zM9.2502 5.6338c0-.414.336-.75.75-.75s.75.336.75.75v3.935l3.026 1.804c.355.213.472.673.26 1.029-.14.235-.39.366-.645.366-.131 0-.263-.034-.384-.106l-3.391-2.023c-.227-.136-.366-.381-.366-.645v-4.36z', clip-rule='evenodd')
          .tour-features__feature-info
            | Продолжительность
            span 6 дней / 5 ночей
      li.tour-features__item
        .tour-features__feature
          .tour-features__feature-media
            svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 20 20', width='20', height='20')
              path(fill-rule='evenodd', d='M.241711 7.81748C1.26279 3.24577 5.31703-.00343702 9.99603.00001523 10.7279-.0009088 11.4575.0815621 12.1707.245836c2.5983.571948 4.8606 2.159884 6.2835 4.410504 1.4229 2.25063 1.8883 4.97726 1.2927 7.57326-.0518.2879-.26.5228-.5395.6084-.2794.0857-.5832.0079-.7873-.2016-.204-.2095-.274-.5156-.1814-.7931.9358-4.18438-1.4225-8.40365-5.474-9.79388C8.71321.65919 4.26573 2.54316 2.44111 6.42255.616499 10.3019 1.999 14.9345 5.65021 17.1759c3.65121 2.2413 8.40199 1.3736 11.02769-2.014.282-.2615.7122-.2783 1.0139-.0398.3016.2385.3849.6614.1962.9967-2.8633 3.7051-7.9119 4.9234-12.14673 2.9312S-.779365 12.3892.241711 7.81748zM10.1322 12.4177c-.1721-.3629-.0414-.7973.3023-1.0046l.5875-.2897.9821-3.14299-3.0691.96572-1.40301 4.48627c-.12619.407-.5578.6349-.96457.5092-.19729-.0606-.36213-.1978-.45769-.3809-.09557-.1831-.1139-.3969-.0509-.5936l1.52578-4.88134c.07905-.23913.2684-.42544.50859-.50042l4.8755-1.5276c.1474-.05294.3085-.05294.4559 0 .1967.05862.3615.19408.4571.37579.0957.18171.1143.39436.0515.58993l-1.5608 4.89004c-.0622.2028-.2049.371-.3946.4653l-.8769.439c-.3776.1357-.7965-.0373-.9687-.4001z', clip-rule='evenodd')
          .tour-features__feature-info
            | Размещение (2-местное / 1-местное)
            span 62 000 руб. на чел. / 80 000 руб.