.tour-features {
  padding: 1rem;
  margin: 1.5rem 0;
  background-color: $bg-c--shade;
  border: 1px solid darken($bg-c--shade, 5%);
  border-radius: $border-r;

  @media (min-width: $screen-sm) {
    padding: 1.5rem;
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;

    @media (min-width: $screen-sm) {
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(2, auto);
      grid-template-rows: auto;
    }

    @media (min-width: $screen-lg) {
      gap: 1rem;
      grid-template-columns: repeat(3, auto);
      grid-template-rows: auto;
    }
  }

  &__item {
    padding: 0;
    margin: 0;

    @media (max-width: ($screen-sm - 1px)) {

      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }
    }
  }

  &__feature {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  &__feature-media {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    max-width: 100%;
    height: 2.5rem;
    margin-right: 0.75rem;
    background-color: darken($bg-c--shade, 5%);
    border-radius: $border-r--s;

    svg {
      display: block;
      fill: $primary-c;
    }
  }

  &__feature-info {
    font-size: ms(-1);
    line-height: 1.45em;

    span {
      display: block;
      font-weight: 600;
    }
  }
}
