mixin video(props)

  -
    if (typeof(props) === 'undefined') {
      var props = {};
    }

    var allMods = '';
    if (typeof(props.mods) !== 'undefined' && props.mods) {
      var modsList = props.mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' video--' + modsList[i].trim();
      }
    }

  a.video(href=props.link, class=allMods, data-fancybox)&attributes(attributes)
    .video__play-btn-wrap
      .video__play-btn
        svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 15 20', width='15', height='20')
          path(d='M-8e-7 18.1315L-7e-8 1.86852C-5e-8 1.06982.890145.59343 1.5547 1.03647l12.1972 8.13148c.5938.39582.5938 1.26825 0 1.66415L1.5547 18.9635C.890144 19.4066-8.3e-7 18.9302-8e-7 18.1315z')
    img.video__cover(src=props.cover, alt='')