.video {
  display: block;
  position: relative;
  z-index: 1;
  overflow: hidden;
  border-radius: 12px;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    content: '';
    background: $layer;
  }

  &::after {
    display: block;
    content: '';
    padding-bottom: (3 / 4) * 100%;
  }

  img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }

  &__play-btn-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background: linear-gradient(120deg, rgba(#fff, 0) 0%, rgba(#fff, 0.2) 100%);
    box-shadow: 0 24px 72px 0 rgba(0, 0, 0, 0.25);
    transition: 500ms all $transition-t;
    z-index: 3;
    transform-origin: center;

    &:hover {
      transform: translate3d(-50%,-50%,0) scale(0.95);

      .video__play-btn {
        transform: scale(1.15);
      }
    }
  }

  &__play-btn {
    width: 70px;
    height: 70px;
    border-radius: 70px;
    background-color: $bg-c;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 500ms all $transition-t;
    transform-origin: center;
    box-shadow: 0 24px 72px 0 rgba(0, 0, 0, 0.25);

    svg {
      display: block;
      fill: $text-c;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-40%,-50%,0);
    }
  }
}