.hotel-rating {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  background-color: #fff;
  color: $text-c;
  border-radius: 6px;
  padding: 0.25rem 0.5rem;
  text-decoration: none;
  font-size: ms(-1);
  line-height: 1.45em;
  font-weight: 500;

  &__caption {
    display: block;
    margin-right: 0.5rem;
  }

  &__rating {
    display: block;

    svg {

      path {
        fill: rgba($text-c, 0.5);
      }
    }
  }

  &--awful {

    svg {

      path:nth-child(1) {
        fill: #e77c27;
      }
    }
  }

  &--bad {

    svg {

      path:nth-child(1),
      path:nth-child(2) {
        fill: #e77c27;
      }
    }
  }

  &--normal {

    svg {

      path:nth-child(1),
      path:nth-child(2),
      path:nth-child(3) {
        fill: #e77c27;
      }
    }
  }

  &--good {

    svg {

      path:nth-child(1),
      path:nth-child(2),
      path:nth-child(3),
      path:nth-child(4) {
        fill: #e77c27;
      }
    }
  }

  &--excellent {

    svg {

      path:nth-child(1),
      path:nth-child(2),
      path:nth-child(3),
      path:nth-child(4),
      path:nth-child(5) {
        fill: #e77c27;
      }
    }
  }
}