mixin hotel-rating(caption, mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' hotel-rating--' + modsList[i].trim();
      }
    }

  a.hotel-rating(href='/', class=allMods)&attributes(attributes)
    span.hotel-rating__caption!= caption
    span.hotel-rating__rating
      svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 62 10', width='62', height='10')
        path(d='M4.51983.306275c.19091-.408367.76943-.408367.96034 0L6.60082 2.70338c.07516.16077.2252.27334.40006.30016l2.54823.3909c.42679.06546.60109.5881.29955.89836L7.97173 6.2242c-.11757.12098-.17096.29082-.14385.45765l.43844 2.69863c.07129.43876-.39261.76692-.78013.55183L5.25662 8.6949c-.15969-.08863-.35355-.08863-.51324 0L2.51381 9.93231c-.38752.21509-.85142-.11307-.78013-.55183l.43844-2.69863c.0271-.16683-.02628-.33667-.14385-.45765L.151339 4.2928c-.301505-.31026-.1272377-.8329.299548-.89836l2.548233-.3909c.17486-.02682.32489-.13939.40005-.30016L4.51983.306275z')
        path(d='M17.5198.306275c.1909-.408367.7695-.408367.9604 0l1.1206 2.397105c.0752.16077.2252.27334.4001.30016l2.5482.3909c.4268.06546.6011.5881.2996.89836l-1.877 1.9314c-.1175.12098-.1709.29082-.1438.45765l.4384 2.69863c.0713.43876-.3926.76692-.7801.55183L18.2566 8.6949c-.1597-.08863-.3535-.08863-.5132 0l-2.2296 1.23741c-.3875.21509-.8514-.11307-.7801-.55183l.4384-2.69863c.0271-.16683-.0263-.33667-.1438-.45765l-1.877-1.9314c-.3015-.31026-.1272-.8329.2996-.89836l2.5482-.3909c.1749-.02682.3249-.13939.4001-.30016L17.5198.306275z')
        path(d='M30.5198.306275c.1909-.408367.7695-.408367.9604 0l1.1206 2.397105c.0752.16077.2252.27334.4001.30016l2.5482.3909c.4268.06546.6011.5881.2996.89836l-1.877 1.9314c-.1175.12098-.1709.29082-.1438.45765l.4384 2.69863c.0713.43876-.3926.76692-.7801.55183L31.2566 8.6949c-.1597-.08863-.3535-.08863-.5132 0l-2.2296 1.23741c-.3875.21509-.8514-.11307-.7801-.55183l.4384-2.69863c.0271-.16683-.0263-.33667-.1438-.45765l-1.877-1.9314c-.3015-.31026-.1272-.8329.2996-.89836l2.5482-.3909c.1749-.02682.3249-.13939.4001-.30016L30.5198.306275z')
        path(d='M43.5198.306275c.1909-.408367.7695-.408367.9604 0l1.1206 2.397105c.0752.16077.2252.27334.4001.30016l2.5482.3909c.4268.06546.6011.5881.2996.89836l-1.877 1.9314c-.1175.12098-.1709.29082-.1438.45765l.4384 2.69863c.0713.43876-.3926.76692-.7801.55183L44.2566 8.6949c-.1597-.08863-.3535-.08863-.5132 0l-2.2296 1.23741c-.3875.21509-.8514-.11307-.7801-.55183l.4384-2.69863c.0271-.16683-.0263-.33667-.1438-.45765l-1.877-1.9314c-.3015-.31026-.1272-.8329.2996-.89836l2.5482-.3909c.1749-.02682.3249-.13939.4001-.30016L43.5198.306275z', opacity='.25')
        path(d='M56.5198.306275c.1909-.408367.7695-.408367.9604 0l1.1206 2.397105c.0752.16077.2252.27334.4001.30016l2.5482.3909c.4268.06546.6011.5881.2996.89836l-1.877 1.9314c-.1175.12098-.1709.29082-.1438.45765l.4384 2.69863c.0713.43876-.3926.76692-.7801.55183L57.2566 8.6949c-.1597-.08863-.3535-.08863-.5132 0l-2.2296 1.23741c-.3875.21509-.8514-.11307-.7801-.55183l.4384-2.69863c.0271-.16683-.0263-.33667-.1438-.45765l-1.877-1.9314c-.3015-.31026-.1272-.8329.2996-.89836l2.5482-.3909c.1749-.02682.3249-.13939.4001-.30016L56.5198.306275z', opacity='.25')

