.label {
  position: relative;
  z-index: 1;
  padding: 0.3rem 0.4rem;
  margin: 0 0.25rem 0.25rem 0;
  overflow: hidden;
  font-size: 0.6em;
  font-weight: 500;
  line-height: 1em;
  color: currentColor;
  background-color: rgba($bg-c, 0.25);
  border-radius: $border-r--s;

  &--accent {
    background-color: #e2474b;
    color: #fff;
    box-shadow:
      0 10px 20px rgba(246, 85, 85, 0.18),
      0 2px 6px rgba(246, 85, 85, 0.12),
      0 0 1px rgba(0, 0, 0, 0.04);

    &::after {
      display: none;
    }
  }
}
