mixin label(text, mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' label--' + modsList[i].trim();
      }
    }

  span.label(class=allMods)&attributes(attributes)!= text