.about-us {
  padding: 2.25rem 0;

  &__title {
    @include title;
  }

  &__block {
    // background-color: $bg-c--shade;
    // border: 1px solid $border-c;
    // border-radius: $border-r;
    // padding: 1rem;

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    @media (min-width: $screen-lg) {
      // padding: 2.25rem;
    }
  }

  &__subtitle {
    max-width: 75ch;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: ms(0);
    font-weight: 600;
    line-height: 1.3em;
  }

  &__text {
    max-width: 75ch;
    font-size: 0.8em;
    line-height: 1.6em;
  }
}
