.special-offer-card {

  &__media {
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: block;

    &::before {
      display: block;
      content: '';
      padding-bottom: (9 / 16) * 100%;
    }

    img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    padding: 0.75rem 1rem 0;
  }

  &__data {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 0.75rem;
  }

  &__label {
    margin-right: 0.25rem;
  }

  &__dates {
    margin-left: auto;
    font-size: 0.6em;
    font-weight: 500;
    line-height: 1em;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0.25rem;
    font-size: ms(-1);
    font-weight: 600;
    line-height: 1.45em;

    a {
      text-decoration: none;
      color: currentColor;
    }

    @media (min-width: $screen-lg) {
      font-size: ms(0);
      line-height: 1.3em;
    }
  }

  &__price {
    font-size: ms(-1);
    font-weight: 500;
    line-height: 1.45em;
    opacity: 0.75;

    @media (min-width: $screen-lg) {

      span {
        font-size: ms(0);
      }
    }
  }
}