mixin special-offer-card(props)

  -
    if (typeof(props) === 'undefined') {
      var props = {};
    }

    var allMods = '';
    if (typeof(props.mods) !== 'undefined' && props.mods) {
      var modsList = props.mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' special-offer-card--' + modsList[i].trim();
      }
    }

  .special-offer-card(class=allMods)&attributes(attributes)
    a.special-offer-card__media(href='/')
      img(src=props.media, alt='')
    .special-offer-card__info
      .special-offer-card__data
        +label('Акция', 'accent').special-offer-card__label
        +label('7 дней / 6 ночей').special-offer-card__label
        span.special-offer-card__dates!= props.dates
      h3.special-offer-card__title
        a(href='/')!= props.title
      .special-offer-card__price
        span!= props.price
        |  ₽ / чел.