.components {
  padding: 5vw;

  &__container {
    @include container;
  }

  &__block {
    margin-bottom: 4.5rem;
  }

  &__block-title {
    font-weight: 700;
    font-size: ms(0);
    line-height: 1.25em;
    margin-bottom: 1.5rem;
  }
}