.burger {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;

  &::before {
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    bottom: -0.5rem;
    left: -0.5rem;
    content: '';
  }

  span {
    position: absolute;
    top: 50%;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: $text-c;
    border-radius: $border-r;
    transform: translate3d(0, -50%, 0);

    &::before,
    &::after {
      position: absolute;
      right: 0;
      display: block;
      width: 100%;
      height: 2px;
      content: '';
      background-color: inherit;
      border-radius: $border-r;
      transform-origin: center;
    }

    &::before {
      top: -7px;
    }

    &::after {
      bottom: -7px;
    }
  }

  &--is-active {

    span {
      background-color: transparent;

      &::before,
      &::after {
        top: 0;
        bottom: 0;
        width: 75%;
        background-color: $text-c;
      }

      &::before {
        transform: rotate(-45deg);
      }

      &::after {
        transform: rotate(45deg);
      }
    }
  }
}
