mixin burger(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' burger--' + modsList[i].trim();
      }
    }

  button.burger(class=allMods)&attributes(attributes)
    span
