// Width
$screen-xs: 576px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xl: 1440px;
$screen-xxl: 1920px;

// Project colors
$text-c: #282f33;
$text-c--light: #fff;

$bg-c: #fff;
$bg-c--shade: #f7fafc;
$bg-c--dark: $text-c;

$primary-c: #265299;

// Semantic colors
$success-c: #16c98d;
$warning-c: #ffc83f;
$danger-c: #fa5e5b;

// Fonts
$font-f: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
$font-f--monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;

// Misc
$border-c: rgba($text-c, 0.125);
$border-r: 0;
$border-r--s: 0;
$transition-t: cubic-bezier(0.15, 0.85, 0.45, 1);
$layer: linear-gradient(to top right, rgba($bg-c--dark, 0.5) 0%, rgba($bg-c--dark, 0) 100%);

@mixin layout {
  padding: 4.5rem 1rem 2.25rem;

  @media (min-width: $screen-sm) {
    padding: 7.5rem 1.5rem 4.5rem;
  }
}

@mixin container {
  position: relative;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

@mixin title {
  margin-top: 0;
  font-size: ms(1);
  font-weight: 700;
  line-height: 1.2em;
  letter-spacing: -0.01em;

  @media (min-width: $screen-xl) {
    font-size: ms(2);
    line-height: 1.1em;
    letter-spacing: -0.02em;
  }
}
