.read-also {
  padding: 2.25rem 1rem;
  overflow: hidden;

  @include media-min-sm {
    padding: 4.5rem 1.5rem;
  }

  &__container {
    @include container;

    @include media-min-md {
      display: grid;
      grid-template:
        'slider-progessbar slider-progessbar'
        'title slider-navigation'
        'slider slider' / 1fr auto;
      gap: 0 1rem;
    }
  }

  &__title {
    @include title;
    margin-top: 0;
    margin-bottom: 1.5rem;
    grid-area: title;
  }

  &__slider {
    grid-area: slider;
    width: 100%;
    margin-bottom: 1.5rem;
  }

  &__slider-progressbar {
    grid-area: slider-progessbar;
    margin-bottom: 1.5rem;

    @media (min-width: $screen-md) {
      margin-bottom: 2.25rem;
    }
  }

  &__slider-navigation {
    display: none;
    grid-area: slider-navigation;

    @media (min-width: $screen-md) {
      display: block;
    }
  }
}
