.special-offers {
  padding: 2.25rem 0;

  &__title {
    @include title;
  }

  &__list {
    display: grid;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 0.5rem;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;

    @media (min-width: $screen-xs) {
      gap: 0.5rem;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
    }
  }

  &__item {
    margin: 0;
    padding: 0;
  }
}